In [1]:
x = 3

print(x)

3

In [2]:
x

3

In [1]:
3 > 5

False

In [2]:
4 == 5

False

In [3]:
4 == 4

True

In [4]:
10 % 1

0

In [5]:
10 % 3

1

In [6]:
type("Hell")

str

In [7]:
range (5, 10)

range(5, 10)

In [8]:
type(range(5, 10))

range

In [9]:
list(range(5, 10))

[5, 6, 7, 8, 9]

In [10]:
list(range(5))

[0, 1, 2, 3, 4]

In [12]:
things = ["Apple", "Grape", 101, "Onion", False]

In [13]:
things

['Apple', 'Grape', 101, 'Onion', False]

In [14]:
things[0]

'Apple'

In [15]:
things[-1]

False

In [18]:
things[:-1]

['Apple', 'Grape', 101, 'Onion']

In [20]:
type(things[2])

int

In [21]:
type(things[3])

str

In [22]:
type(things[4])

bool

In [24]:
list(range(11,16))

[11, 12, 13, 14, 15]

In [25]:
sum([1, 2, 3])

6

In [26]:
numbers = [19, 4, 33, 6]

In [28]:
numbers.sort()

In [29]:
numbers

[4, 6, 19, 33]

In [30]:
numbers.pop()

33

In [31]:
numbers

[4, 6, 19]

In [33]:
numbers.append(5)

In [34]:
numbers

[4, 6, 19, 5]

In [35]:
numbers

[4, 6, 19, 5]

In [36]:
numbers.remove(5)

In [37]:
numbers

[4, 6, 19]

In [38]:
numbers.append([7, 3, 99])

In [39]:
numbers

[4, 6, 19, [7, 3, 99]]

In [40]:
numbers.remove([7, 3, 99])

In [42]:
numbers.extend([7, 3, 99])

In [43]:
numbers

[4, 6, 19, 7, 3, 99]

In [44]:
primes = [1, 2 , 3, 5, 7]

In [45]:
primes

[1, 2, 3, 5, 7]

In [47]:
primes.remove(1)

In [48]:
primes

[2, 3, 5, 7]

In [50]:
primes.extend([11, 13, 17])

In [51]:
primes

[2, 3, 5, 7, 11, 13, 17]

In [52]:
primes.reverse()

In [53]:
primes

[17, 13, 11, 7, 5, 3, 2]

In [55]:
person = {
    "name":"Doug",
    "age": 33
}

person

{'name': 'Doug', 'age': 33}

In [56]:
person["name"]

'Doug'

In [57]:
person.keys()

dict_keys(['name', 'age'])

In [58]:
person.values()

dict_values(['Doug', 33])

In [59]:
person.items()

dict_items([('name', 'Doug'), ('age', 33)])

In [60]:
len(person)

2

In [63]:
student_info = {
    "Agnes" : 68, 
    "Bobby" : 45, 
    "Charlie" : {"age": 33, "gender": "Female"}
}

In [64]:
student_info

{'Agnes': 68, 'Bobby': 45, 'Charlie': {'age': 33, 'gender': 'Female'}}

In [68]:
student_info["Charlie"]["age"]

33

In [69]:
len(student_info)

3

In [70]:
person.update({"name": "Doug Sloan", "favourite fruit": ["pineapple", "watermelon"]})
person.pop("age")

33

In [71]:
person

{'name': 'Doug Sloan', 'favourite fruit': ['pineapple', 'watermelon']}

In [72]:
countries = {
    "uk": {
        "capital": "London", 
        "population": 1000
    },
    "germany": {
        "capital": "Berlin",
        "population": 5
    }
}

print(countries)

{'uk': {'capital': 'London', 'population': 1000}, 'germany': {'capital': 'Berlin', 'population': 5}}

In [74]:
german_population = countries["germany"] ["population"]