In [1]:
import pandas as pd
import numpy as np
import janitor as jntr
import difflib

characteristic_data = pd.read_csv("hego_data/hego_17_18_salary_by_characteristic.csv", skiprows = 13).clean_names()
institution_data = pd.read_csv("hego_data/hego_17_18_salary_by_institution.csv", skiprows = 13).clean_names()
subject_data = pd.read_csv("hego_data/hego_17_18_salary_by_subject.csv", skiprows = 13).clean_names()
uni_codes = pd.read_excel("hego_data/institution-and-campus-codes-2018-entry.xls").clean_names()
rankings_data = pd.read_csv("hego_data/Complete_University_Guide_University_League_Table.csv", skiprows=4).clean_names()

In [2]:
pd.set_option('display.max_rows', 500)

To begin with and to make sure everything is working, only one year will be used. All the other data that has been read in refers only to this year (17/18 that is) so only the ranking dataset needs filtered.

In [3]:
rankings_2017 = rankings_data.loc[rankings_data["year"] == 2017].copy()

I've been having problems with these datasets whilst trying to join them on the instituion/provider names. I've tried to do this by using what's known as fuzzy merging. This has worked to a degree, but has thrown up some significant issues. I'm now going to try and create a more concise merging process so that I can see if the merging and then correcting I've used has worked.

In [4]:
institution_data_for_merge = institution_data.copy()

In [5]:
just_2017_rankings = rankings_2017.loc[:,["rank", "institution"]].copy()

Now to define our fuzzy merge function using the following source: 

https://stackoverflow.com/questions/13636848/is-it-possible-to-do-fuzzy-match-merge-with-python-pandas/60908516#60908516

In [6]:
def fuzzy_merge(df1, df2, left_on, right_on, how='inner', cutoff=0.6):
    df_other= df2.copy()
    df_other[left_on] = [get_closest_match(x, df1[left_on], cutoff) 
                         for x in df_other[right_on]]
    return df1.merge(df_other, on=left_on, how=how)

def get_closest_match(x, other, cutoff):
    matches = difflib.get_close_matches(x, other, cutoff=cutoff)
    return matches[0] if matches else None

Through trial and error, I've worked out that the function was getting a little confused when it came to certain titles, especially "The University of....". With this in mind, I altered the provider names before the merge.

In [7]:
institution_data_for_merge["provider_name"] = institution_data_for_merge["provider_name"].str.replace("University", '')

Now time for the merge. This will require further modification and for this reason is being labelled provisional:

In [8]:
provisional_merge = fuzzy_merge(institution_data_for_merge, just_2017_rankings, left_on='provider_name', right_on='institution').copy()

So just like last time, there's a certain amount of institutions that have been misclassified and need to be hard-coded out and in:

In [9]:
provisional_merge = provisional_merge[~provisional_merge['provider_name'].isin(['College London', 'of Cumbria', 'Arden', 'Bath Spa', 'Birmingham City', 'Liverpool Hope', 'London School of Theology', 'Southport College'])]

In [10]:
second_institution_merge_data = institution_data.copy()

In [11]:
second_institution_merge_data['provider_name'] = second_institution_merge_data['provider_name'].replace({'Imperial College of Science, Technology and Medicine': 'Imperial College London'})

In [12]:
second_institution_merge_data = second_institution_merge_data[second_institution_merge_data["provider_name"].isin(['Imperial College London', 'University College London', 'University of Northumbria at Newcastle', 'University of Cumbria', 'Arden University', 'The University of Aberdeen', 'The University of Bath', 'Bath Spa University', 'The University of Liverpool', 'Liverpool Hope University', 'London School of Economics and Political Science', 'The University of Southampton', 'Solent University', 'The University of Birmingham', 'The University of York', 'The University of Kent', 'Royal Holloway and Bedford New College', 'The University of Essex', 'Goldsmiths College', 'The University of Hull', 'University of St Mark and St John'])]

In [13]:
conditions = [
    (second_institution_merge_data['provider_name'] == "Imperial College London"),
    (second_institution_merge_data['provider_name'] == "University College London"),
    (second_institution_merge_data['provider_name'] == "University of Northumbria at Newcastle"),
    (second_institution_merge_data['provider_name'] == "University of Cumbria"),
    (second_institution_merge_data['provider_name'] == "Arden University"),
    (second_institution_merge_data['provider_name'] == "The University of Aberdeen"),
    (second_institution_merge_data['provider_name'] == "The University of Bath"),
    (second_institution_merge_data['provider_name'] == "Bath Spa University"),
    (second_institution_merge_data['provider_name'] == "The University of Liverpool"),
    (second_institution_merge_data['provider_name'] == "Liverpool Hope University"),
    (second_institution_merge_data['provider_name'] == "London School of Economics and Political Science"),
    (second_institution_merge_data['provider_name'] == "The University of Southampton"),
    (second_institution_merge_data['provider_name'] == "Solent University"),
    (second_institution_merge_data['provider_name'] == "The University of Birmingham"),
    (second_institution_merge_data['provider_name'] == "The University of York"),
    (second_institution_merge_data['provider_name'] == "The University of Kent"),
    (second_institution_merge_data['provider_name'] == "Royal Holloway and Bedford New College"),
    (second_institution_merge_data['provider_name'] == "The University of Essex"),
    (second_institution_merge_data['provider_name'] == "Goldsmiths College"),
    (second_institution_merge_data['provider_name'] == "The University of Hull"),
    (second_institution_merge_data['provider_name'] == "University of St Mark and St John")
]

values = [4, 10, 59, 121,"NA",42,11,76,38,83,3,17,115,15, 20, 23, 37, 41, 51, 68, 124]

second_institution_merge_data['rank'] = np.select(conditions, values)

In [14]:
second_institution_merge_data["institution"] = second_institution_merge_data["provider_name"]

In [15]:
all_institutions_out_n_ranks_2017 = pd.concat([provisional_merge, second_institution_merge_data])

That should be the main body done, although there's still a few little extra mistakes to correct inside there.

In [16]:
all_inst_minus_mistakes = all_institutions_out_n_ranks_2017.loc[~((all_institutions_out_n_ranks_2017["provider_name"] == " College London") & (all_institutions_out_n_ranks_2017["institution"] == "Imperial College London")),:]
all_inst_minus_mistakes = all_inst_minus_mistakes.loc[~((all_inst_minus_mistakes["provider_name"] == "Arden ") & (all_inst_minus_mistakes["institution"] == "Aberdeen")),:]
all_inst_minus_mistakes = all_inst_minus_mistakes.loc[~((all_inst_minus_mistakes["provider_name"] == "Arden University") & (all_inst_minus_mistakes["institution"] == "Arden University")),:]
all_inst_minus_mistakes = all_inst_minus_mistakes.loc[~((all_inst_minus_mistakes["provider_name"] == "Bath Spa ") & (all_inst_minus_mistakes["institution"] == "Bath")),:]
all_inst_minus_mistakes = all_inst_minus_mistakes.loc[~((all_inst_minus_mistakes["provider_name"] == "Birmingham City ") & (all_inst_minus_mistakes["institution"] == "Birmingham")),:]
all_inst_minus_mistakes = all_inst_minus_mistakes.loc[~((all_inst_minus_mistakes["provider_name"] == "Liverpool Hope ") & (all_inst_minus_mistakes["institution"] == "Liverpool")),:]

In [17]:
all_institutions_out_n_ranks_2017 = all_inst_minus_mistakes.copy()

In [18]:
all_institutions_out_n_ranks_2017["rank"] = pd.to_numeric(all_institutions_out_n_ranks_2017["rank"])

In [19]:
all_institutions_out_n_ranks_2017 = all_institutions_out_n_ranks_2017.loc[~(all_institutions_out_n_ranks_2017["institution"].isin(["Southampton", "Northumbria", "Bath Spa", "Liverpool Hope", "Cumbria"]))]

Cool, so that looks like the main institution and ranking merge is finally done. Now to get the uni codes done.

In [20]:
uni_codes_for_merge = uni_codes.clean_names().copy()

In [21]:
uni_codes_for_merge = uni_codes_for_merge.loc[:,["name_abbreviation", "official_name", "name"]].copy()

In [22]:
uni_codes_for_merge = uni_codes_for_merge.drop_duplicates()

In [23]:
allinst_copy_for_code_merge = all_institutions_out_n_ranks_2017.copy()

Now to try the second merge, with the codes:

In [24]:
code_merge_test = fuzzy_merge(allinst_copy_for_code_merge, uni_codes_for_merge, left_on = "institution", right_on = 'name').copy()

In [25]:
code_merge_test

,ukprn,provider_name,country_of_provider,mode_of_former_study,skill_group,work_population_marker,salary_band,number,rank,institution,name_abbreviation,official_name,name
0,10000291.0,Anglia Ruskin,England,Full-time,High skilled,Paid employment is an activity,"Less than £15,000",5,110,Anglia Ruskin,ARU,Anglia Ruskin University,Anglia Ruskin University
1,10000291.0,Anglia Ruskin,England,Full-time,High skilled,Paid employment is an activity,"£15,000 - £17,999",40,110,Anglia Ruskin,ARU,Anglia Ruskin University,Anglia Ruskin University
2,10000291.0,Anglia Ruskin,England,Full-time,High skilled,Paid employment is an activity,"£18,000 - £20,999",80,110,Anglia Ruskin,ARU,Anglia Ruskin University,Anglia Ruskin University
3,10000291.0,Anglia Ruskin,England,Full-time,High skilled,Paid employment is an activity,"£21,000 - £23,999",140,110,Anglia Ruskin,ARU,Anglia Ruskin University,Anglia Ruskin University
4,10000291.0,Anglia Ruskin,England,Full-time,High skilled,Paid employment is an activity,"£24,000 - £26,999",265,110,Anglia Ruskin,ARU,Anglia Ruskin University,Anglia Ruskin University
...,...,...,...,...,...,...,...,...,...,...,...,...,...
85295,10007167.0,The University of York,England,Part-time,All,Paid employment is most important activity,"£39,000+",5,20,The University of York,SALF,The University of Salford,The University of Salford
85296,10007167.0,The University of York,England,Part-time,All,Paid employment is most important activity,"£39,000+",5,20,The University of York,UCS,University of Suffolk,University of Suffolk
85297,10007167.0,The University of York,England,Part-time,All,Paid employment is most important activity,"£39,000+",5,20,The University of York,WARW,The University of Warwick,The University of Warwick
85298,10007167.0,The University of York,England,Part-time,All,Paid employment is most important activity,"£39,000+",5,20,The University of York,WORCS,University of Worcester,University of Worcester
85299,10007167.0,The University of York,England,Part-time,All,Paid employment is most important activity,"£39,000+",5,20,The University of York,YORK,University of York,University of York

In [26]:
code_merge_groups = code_merge_test.groupby(['institution', 'name_abbreviation']).size().reset_index().rename(columns={0:'count'})

In [27]:
code_merge_groups

                                          institution name_abbreviation  count
0                                       Anglia Ruskin               ARU    480
1                         Arts University Bournemouth              AUCB    400
2                         Arts University Bournemouth              PORT    400
3                                 Bath Spa University             BANGR    400
4                                 Bath Spa University             BASPA    400
5                                 Bath Spa University               BPP    400
6                                 Bath Spa University             CARDF    400
7                                 Bath Spa University               DUR    400
8                                 Bath Spa University               FAL    400
9                                 Bath Spa University             LANCR    400
10                                Bath Spa University             NORTH    400
11                                       Bedfordshire              CBED    480
12                                    Birmingham City             BCITY    440
13                                 Bishop Grosseteste               BGU    320
14                                           Bradford               BRC    480
15                           Brunel University London             BRUNL    440
16                                Buckinghamshire New             BUCKS    480
17                           Canterbury Christ Church             CANCC    480
18                               Cardiff Metropolitan             CUWIC    400
19                                 Central Lancashire             CLANC    480
20                                         Chichester             CHCOL    480
21                         City, University of London               BBK    400
22                         City, University of London              CITY    400
23                         City, University of London               CRT    400
24                         City, University of London              GOLD    400
25                         City, University of London              RHUL    400
26                                  East Anglia (UEA)             EANGL    400
27                                          Edge Hill               EHS    440
28                                   Edinburgh Napier              ENAP    440
29                                             Exeter              EXCO    440
30                                 Glasgow Caledonian               GCU    480
31                                    Gloucestershire              GCOL    480
32                                 Goldsmiths College             BATHC    440
33                                 Goldsmiths College              BEDF    440
34                                 Goldsmiths College             BOLTC    440
35                                 Goldsmiths College             BROOK    440
36                                 Goldsmiths College             CLIFC    440
37                                 Goldsmiths College              FURN    440
38                                 Goldsmiths College             GUILD    440
39                                 Goldsmiths College             HULLC    440
40                                 Goldsmiths College             LCCOL    440
41                                 Goldsmiths College             MEDIP    440
42                                 Goldsmiths College             MKENT    440
43                                 Goldsmiths College             MOULT    440
44                                 Goldsmiths College              NNTC    440
45                                 Goldsmiths College              NWKC    440
46                                 Goldsmiths College               OAK    440
47                                 Goldsmiths College               OBC    440
48                                 Goldsmiths College             RUNSH    440
49                                 Goldsmiths College             SALCC    440
50                                 Goldsmiths College              SOCO    440
51                                 Goldsmiths College              STHC    440
52                                 Goldsmiths College             STYNE    440
53                                 Goldsmiths College             TRURO    440
54                                 Goldsmiths College              WALS    440
55                                 Goldsmiths College              WEYC    440
56                                 Goldsmiths College             WILTC    440
57                                 Goldsmiths College             YCOLL    440
58                                 Goldsmiths College              YEOV    440
59                                       Harper Adams              HAUC    400
60                                      Hertfordshire               NHC    480
61                            Imperial College London               IMP    320
62                            Imperial College London              NHAM    320
63                              King's College London              KCOL    400
64                              King's College London             RUSKC    400
65                                      Leeds Beckett               LMU    480
66                                      Leeds Trinity             LETAS    320
67                                          Leicester             LCOLL    460
68                                            Lincoln             LINCN    480
69                          Liverpool Hope University             LHOPE    320
70                          Liverpool Hope University               LJM    320
71                                London Metropolitan             LONMT    480
72                                London Metropolitan               TMC    480
73   London School of Economics and Political Science              LSBM    320
74   London School of Economics and Political Science               LSC    320
75   London School of Economics and Political Science               LSE    320
76                                  London South Bank              LSBU    480
77                                       Loughborough              LBRO    440
78                                       Loughborough             LOUGH    440
79                                         Manchester              MCOL    320
80                            Manchester Metropolitan               MMU    480
81                                          Newcastle             NCAST    400
82                                        Northampton             NORCO    480
83                     Norwich University of the Arts               NUA    320
84                                         Nottingham               NCN    400
85                                   Nottingham Trent             NOTRE    480
86                                     Oxford Brookes              OXFD    480
87                   Queen Mary, University of London               QMU    320
88                   Queen Mary, University of London              QMUL    320
89                   Queen Mary, University of London              RVET    320
90                                   Queen's, Belfast             QBELF    440
91                                      Robert Gordon               RGU    440
92                      Royal Agricultural University               RAU    400
93                          SOAS University of London             PARIS    320
94                          SOAS University of London              SOAS    320
95                                   Sheffield Hallam             SCOLL    480
96                                   Sheffield Hallam               SHU    480
97                                  Solent University             ABTAY    480
98                                  Solent University             ABWTH    480
99                                  Solent University              BMTH    480
100                                 Solent University              COVN    480
101                                 Solent University               DEM    480
102                                 Solent University               EHU    480
103                                 Solent University             KEELE    480
104                                 Solent University              KING    480
105                                 Solent University               LAD    480
106                                 Solent University             MIDDX    480
107                                 Solent University              NEWC    480
108                                 Solent University               OXF    480
109                                 Solent University              PLYM    480
110                                 Solent University             RDINT    480
111                                 Solent University             SOLNT    480
112                                 Solent University              SWAN    480
113                                 Solent University              TEES    480
114                                 Solent University               ULS    480
115                                 Solent University               YSJ    480
116                 St George's, University of London               KCL    400
117                 St George's, University of London              SGEO    400
118                             St Mary's, Twickenham             SMARY    480
119                                     Staffordshire             STAFF    480
120                                            Surrey             NESCT    440
121                        The University of Aberdeen             ABRDN    440
122                        The University of Aberdeen              BEDS    440
123                        The University of Aberdeen              DUND    440
124                        The University of Aberdeen             GREEN    440
125                        The University of Aberdeen             HERTS    440
126                            The University of Bath              BATH    400
127                            The University of Bath             BOLTN    400
128                            The University of Bath               RHC    400
129                            The University of Bath             STRAT    400
130                      The University of Birmingham             ASTON    320
131                      The University of Birmingham              BIRM    320
132                      The University of Birmingham              BUCB    320
133                      The University of Birmingham              BUCK    320
134                      The University of Birmingham             EDINB    320
135                      The University of Birmingham              NEWB    320
136                      The University of Birmingham             NOTTM    320
137                      The University of Birmingham             STIRL    320
138                           The University of Essex             ESSEX    480
139                           The University of Essex              GLOS    480
140                           The University of Essex              SUSX    480
141                            The University of Hull             HUDDS    480
142                            The University of Hull              HULL    480
143                            The University of Kent             EXETR    440
144                            The University of Kent              KENT    440
145                            The University of Kent             LEEDS    440
146                            The University of Kent              MANU    440
147                            The University of Kent             READG    440
148                            The University of Kent               UWL    440
149                            The University of Kent               WIN    440
150                       The University of Liverpool              COLC    480
151                       The University of Liverpool             LEICR    480
152                       The University of Liverpool             LINCO    480
153                       The University of Liverpool             LVRPL    480
154                       The University of Liverpool             SHEFD    480
155                     The University of Southampton              NTON    400
156                     The University of Southampton               ROE    400
157                     The University of Southampton             SOTON    400
158                     The University of Southampton               USW    400
159                     The University of Southampton             WOLVN    400
160                            The University of York             BRADF    400
161                            The University of York              SALF    400
162                            The University of York               UCS    400
163                            The University of York              WARW    400
164                            The University of York             WORCS    400
165                            The University of York              YORK    400
166                         University College London             BARNF    800
167                         University College London              FCOT    800
168                         University College London             PETER    800
169                         University College London               UCL    800
170                         University College London             WRITL    800
171                         University College London             WSTON    800
172                  University for the Creative Arts               UCA    320
173                             University of Cumbria             BRISL    480
174                             University of Cumbria             BRITN    480
175                             University of Cumbria               CAM    480
176                             University of Cumbria             CHICH    480
177                             University of Cumbria             CHSTR    480
178                             University of Cumbria              CUMB    480
179                             University of Cumbria             DERBY    480
180                             University of Cumbria             GLASG    480
181                             University of Cumbria             GRIMC    480
182                             University of Cumbria              SUND    480
183                             University of Cumbria              SURR    480
184                 University of St Mark and St John             PMARJ    440
185                 University of St Mark and St John               UHI    440
186           University of Wales Trinity Saint David             UWTSD    480
187                    University of the Arts, London             ELOND    480
188                    University of the Arts, London               STA    480
189                    University of the Arts, London               UAL    480
190                    University of the Arts, London               UWS    480
191                    University of the Arts, London              WEST    480
192                                       West London               LCA    480

Ok, so this is where we ran into problems on the first atttempt, although one of the big mistakes before was using one of the original datasets rather than our edited version (institution_outcomes_rankings_2017 vs all_institutions_out_n_ranks_2017). Time to have another go:

In [28]:
minus_college_codes_for_merge = uni_codes_for_merge.replace({'name': {'UCL (University College London': 'UCL', 'Imperial College London': 'ICL', "King's College London (University of London)": 'KCL'}})

In [29]:
minus_college_codes_for_merge_final = minus_college_codes_for_merge.loc[~minus_college_codes_for_merge["name"].str.contains("College", case = False)].copy()

In [30]:
minus_college_codes_for_merge_final = minus_college_codes_for_merge_final.replace({'name': {'UCL':'UCL (University College London' , 'ICL': 'Imperial College London' ,'KCL': "King's College London (University of London)"}})

In [31]:
second_code_merge_test = fuzzy_merge(minus_college_codes_for_merge_final, allinst_copy_for_code_merge, left_on = 'name', right_on = "institution", cutoff=0.4).copy()

In [32]:
second_code_merge_groups = second_code_merge_test.groupby(['institution', 'provider_name', 'name', 'name_abbreviation', 'rank']).size().reset_index().rename(columns={0:'count'})

In [33]:
second_code_merge_groups

,institution,provider_name,name,name_abbreviation,rank,count
0,Abertay,Abertay,Abertay University,ABTAY,86,440
1,Aberystwyth,Aberystwyth,Aberystwyth University,ABWTH,87,440
2,Anglia Ruskin,Anglia Ruskin,Anglia Ruskin University,ARU,110,480
3,Arts University Bournemouth,The Arts Bournemouth,Arts University Bournemouth,AUCB,76,400
4,Aston,Aston,Access to Music,ACCM,30,480
5,Bangor,Bangor,Bangor University,BANGR,62,440
6,Bath Spa University,Bath Spa University,Bath Spa University,BASPA,76,400
7,Bedfordshire,of Bedfordshire,University of Bedfordshire,BEDS,120,480
8,Birmingham City,Birmingham City,Birmingham City University,BCITY,95,440
9,Bishop Grosseteste,Bishop Grosseteste,Bishop Grosseteste University,BGU,119,320
10,Bolton,The of Bolton,University of Bolton,BOLTN,122,440
11,Bournemouth,Bournemouth,Bournemouth University,BMTH,56,480
12,Bradford,The of Bradford,The University of Bradford,BRADF,53,480
13,Brighton,The of Brighton,University of Brighton,BRITN,90,480
14,Bristol,The of Bristol,University of Bristol,BRISL,24,440
15,Brunel University London,Brunel London,Brunel University London,BRUNL,52,440
16,Buckingham,The of Buckingham,The University of Buckingham,BUCK,55,400
17,Buckinghamshire New,Buckinghamshire New,Buckinghamshire New University,BUCKS,113,480
18,Cambridge,The of Cambridge,University of Cambridge,CAM,1,320
19,Canterbury Christ Church,Canterbury Christ Church,Canterbury Christ Church University,CANCC,112,480
20,Cardiff,Cardiff,Cardiff University,CARDF,35,480
21,Cardiff Metropolitan,Cardiff Metropolitan,Cardiff Metropolitan University,CUWIC,72,400
22,Central Lancashire,The of Central Lancashire,University of Central Lancashire (UCLan),CLANC,99,480
23,Chester,of Chester,University of Chester,CHSTR,94,480
24,Chichester,The of Chichester,University of Chichester,CHICH,80,480
25,"City, University of London","City, of London","City, University of London",CITY,40,400
26,Coventry,Coventry,Coventry University,COVN,50,480
27,De Montfort,De Montfort,De Montfort University,DEM,54,440
28,Derby,of Derby,University of Derby,DERBY,91,480
29,Dundee,The of Dundee,University of Dundee,DUND,35,440
30,Durham,of Durham,Durham University,DUR,6,400
31,East Anglia (UEA),The of East Anglia,University of East Anglia (UEA),EANGL,14,400
32,East London,The of East London,ARU London,LCA,126,480
33,Edge Hill,Edge Hill,Edge Hill University,EHU,71,440
34,Edinburgh,The of Edinburgh,The University of Edinburgh,EDINB,19,480
35,Edinburgh Napier,Edinburgh Napier,Edinburgh Napier University,ENAP,92,440
36,Exeter,The of Exeter,Petroc,PETRO,13,440
37,Falmouth,Falmouth,Falmouth University,FAL,58,320
38,Glasgow,The of Glasgow,University of Glasgow,GLASG,29,460
39,Glasgow Caledonian,Glasgow Caledonian,Glasgow Caledonian University,GCU,82,480
40,Gloucestershire,of Gloucestershire,The University of Gloucestershire,GLOS,89,480
41,Goldsmiths College,Goldsmiths College,Imperial College London,IMP,51,440
42,Greenwich,The of Greenwich,University of Greenwich,GREEN,98,480
43,Harper Adams,Harper Adams,Harper Adams University,HAUC,46,400
44,Heriot-Watt,Heriot-Watt,"Heriot-Watt University, Edinburgh",HW,34,400
45,Hertfordshire,of Hertfordshire,University of Hertfordshire,HERTS,79,480
46,Huddersfield,The of Huddersfield,The University of Huddersfield,HUDDS,81,480
47,Imperial College London,Imperial College London,Imperial College London,IMP,4,320
48,Keele,Keele,Keele University,KEELE,46,440
49,King's College London,King's College London,Imperial College London,IMP,21,400
50,Kingston,Kingston,Kingston University,KING,109,480
51,Lancaster,The of Lancaster,Lancaster University,LANCR,9,320
52,Leeds,Leeds Arts,University of Leeds,LEEDS,16,320
53,Leeds Beckett,Leeds Beckett,Leeds Beckett University,LMU,114,480
54,Leeds Trinity,Leeds Trinity,Leeds Trinity University,LETAS,103,320
55,Leicester,The of Leicester,University of Leicester,LEICR,32,460
56,Lincoln,The of Lincoln,University of Lincoln,LINCO,49,480
57,Liverpool Hope University,Liverpool Hope University,Liverpool Hope University,LHOPE,83,320
58,Liverpool John Moores,Liverpool John Moores,Liverpool John Moores University (LJMU),LJM,74,480
59,London Metropolitan,London Metropolitan,London Metropolitan University,LONMT,127,480
60,London School of Economics and Political Science,London School of Economics and Political Science,London School of Economics and Political Scien...,LSE,3,320
61,London South Bank,London South Bank,London South Bank University,LSBU,115,480
62,Loughborough,Loughborough,Loughborough University,LBRO,7,440
63,Manchester,The of Manchester,The University of Manchester,MANU,25,320
64,Manchester Metropolitan,The Manchester Metropolitan,The Manchester Metropolitan University,MMU,57,480
65,Middlesex,Middlesex,Middlesex University,MIDDX,78,440
66,Newcastle,Newcastle,Newcastle University,NEWC,25,400
67,Northampton,The of Northampton,University of Northampton,NTON,87,480
68,Norwich University of the Arts,Norwich of the Arts,Norwich University Of The Arts,NUA,66,320
69,Nottingham,of Nottingham,Nottingham Trent University,NOTRE,21,400
70,Nottingham Trent,The Nottingham Trent,Nottingham Trent University,NOTRE,63,480
71,Oxford,The of Oxford,Oxford University,OXF,2,400
72,Oxford Brookes,Oxford Brookes,Oxford Brookes University,OXFD,65,480
73,Plymouth,of Plymouth,Plymouth University,PLYM,84,480
74,Portsmouth,The of Portsmouth,University of Portsmouth,PORT,61,480
75,Queen Margaret,"Queen Margaret , Edinburgh","Queen Margaret University, Edinburgh",QMU,93,440
76,"Queen Mary, University of London",Queen Mary of London,Queen Mary University of London,QMUL,31,320
77,"Queen's, Belfast",Queen's Belfast,Queen's University Belfast,QBELF,33,440
78,Reading,The of Reading,University of Reading,READG,27,440
79,Robert Gordon,The Robert Gordon,Robert Gordon University,RGU,64,440
80,Roehampton,Roehampton,University of Roehampton,ROE,69,440
81,Royal Agricultural University,Royal Agricultural,"Royal Agricultural University, Cirencester",RAU,103,400
82,Royal Holloway and Bedford New College,Royal Holloway and Bedford New College,"Royal Holloway, University of London",RHUL,37,440
83,SOAS University of London,SOAS of London,SOAS University of London,SOAS,43,320
84,Salford,The of Salford,The University of Salford,SALF,95,400
85,Sheffield,The of Sheffield,The University of Sheffield,SHEFD,27,420
86,Sheffield Hallam,Sheffield Hallam,Sheffield Hallam University,SHU,72,480
87,Solent University,Solent University,Coventry University,COVN,115,480
88,South Wales,of South Wales,University of South Wales,USW,99,480
89,St Andrews,The of St Andrews,University of St Andrews,STA,5,440
90,"St George's, University of London","St George's, of London","St George's, University of London",SGEO,44,400
91,"St Mary's, Twickenham","St Mary's , Twickenham","St Mary's University, Twickenham, London",SMARY,118,480
92,Staffordshire,Staffordshire,Staffordshire University,STAFF,101,480
93,Stirling,The of Stirling,The University of Stirling,STIRL,39,440
94,Strathclyde,The of Strathclyde,The University of Strathclyde,STRAT,48,440
95,Sunderland,The of Sunderland,University of Sunderland,SUND,103,480
96,Surrey,The of Surrey,"NESCOT, Surrey",NESCT,11,440
97,Sussex,The of Sussex,University of Sussex,SUSX,18,320
98,Swansea,Swansea,Swansea University,SWAN,45,440
99,Teesside,Teesside,Teesside University,TEES,107,480
100,The University of Aberdeen,The University of Aberdeen,The University of Aberdeen,ABRDN,42,440
101,The University of Bath,The University of Bath,University of Bath,BATH,11,400
102,The University of Birmingham,The University of Birmingham,University of Birmingham,BIRM,15,320
103,The University of Essex,The University of Essex,The University of Essex,ESSEX,41,480
104,The University of Hull,The University of Hull,The University of Hull,HULL,68,480
105,The University of Kent,The University of Kent,The University of Kent,KENT,23,440
106,The University of Liverpool,The University of Liverpool,The University of Liverpool,LVRPL,38,480
107,The University of Southampton,The University of Southampton,University of Southampton,SOTON,17,400
108,The University of York,The University of York,University of York,YORK,20,400
109,Ulster,Ulster,Ulster University,ULS,70,480
110,University College London,College London,SOAS University of London,SOAS,10,400
111,University College London,University College London,SOAS University of London,SOAS,10,400
112,University for the Creative Arts,for the Creative Arts,University for the Creative Arts (UCA),UCA,59,320
113,University of Cumbria,University of Cumbria,University of Cumbria,CUMB,121,480
114,University of Northumbria at Newcastle,University of Northumbria at Newcastle,University of Cumbria,CUMB,59,480
115,University of St Mark and St John,University of St Mark and St John,University of the Arts London,UAL,124,440
116,University of Wales Trinity Saint David,of Wales Trinity Saint David,University of Wales Trinity Saint David (UWTSD),UWTSD,123,480
117,"University of the Arts, London","of the Arts, London",University of the Arts London,UAL,85,480
118,Warwick,The of Warwick,The University of Warwick,WARW,8,440
119,West London,The of West London,ARU London,LCA,106,480
120,"West of England, Bristol","of the West of England, Bristol",University of Bristol,BRISL,67,480
121,West of Scotland,The of the West of Scotland,University of the West of Scotland,UWS,110,480
122,Westminster,The of Westminster,University of Winchester,WIN,102,480
123,Winchester,The of Winchester,University of Winchester,WIN,74,480
124,Worcester,of Worcester,University of Worcester,WORCS,97,480
125,Wrexham Glyndŵr,Glyndŵr,Durham University,DUR,125,480
126,York St John,York St John,York St John University,YSJ,107,400

In [34]:
second_code_merge_groups.sort_values("rank", ascending = True)

,institution,provider_name,name,name_abbreviation,rank,count
18,Cambridge,The of Cambridge,University of Cambridge,CAM,1,320
71,Oxford,The of Oxford,Oxford University,OXF,2,400
60,London School of Economics and Political Science,London School of Economics and Political Science,London School of Economics and Political Scien...,LSE,3,320
47,Imperial College London,Imperial College London,Imperial College London,IMP,4,320
89,St Andrews,The of St Andrews,University of St Andrews,STA,5,440
30,Durham,of Durham,Durham University,DUR,6,400
62,Loughborough,Loughborough,Loughborough University,LBRO,7,440
118,Warwick,The of Warwick,The University of Warwick,WARW,8,440
51,Lancaster,The of Lancaster,Lancaster University,LANCR,9,320
110,University College London,College London,SOAS University of London,SOAS,10,400
111,University College London,University College London,SOAS University of London,SOAS,10,400
101,The University of Bath,The University of Bath,University of Bath,BATH,11,400
96,Surrey,The of Surrey,"NESCOT, Surrey",NESCT,11,440
36,Exeter,The of Exeter,Petroc,PETRO,13,440
31,East Anglia (UEA),The of East Anglia,University of East Anglia (UEA),EANGL,14,400
102,The University of Birmingham,The University of Birmingham,University of Birmingham,BIRM,15,320
52,Leeds,Leeds Arts,University of Leeds,LEEDS,16,320
107,The University of Southampton,The University of Southampton,University of Southampton,SOTON,17,400
97,Sussex,The of Sussex,University of Sussex,SUSX,18,320
34,Edinburgh,The of Edinburgh,The University of Edinburgh,EDINB,19,480
108,The University of York,The University of York,University of York,YORK,20,400
49,King's College London,King's College London,Imperial College London,IMP,21,400
69,Nottingham,of Nottingham,Nottingham Trent University,NOTRE,21,400
105,The University of Kent,The University of Kent,The University of Kent,KENT,23,440
14,Bristol,The of Bristol,University of Bristol,BRISL,24,440
66,Newcastle,Newcastle,Newcastle University,NEWC,25,400
63,Manchester,The of Manchester,The University of Manchester,MANU,25,320
85,Sheffield,The of Sheffield,The University of Sheffield,SHEFD,27,420
78,Reading,The of Reading,University of Reading,READG,27,440
38,Glasgow,The of Glasgow,University of Glasgow,GLASG,29,460
4,Aston,Aston,Access to Music,ACCM,30,480
76,"Queen Mary, University of London",Queen Mary of London,Queen Mary University of London,QMUL,31,320
55,Leicester,The of Leicester,University of Leicester,LEICR,32,460
77,"Queen's, Belfast",Queen's Belfast,Queen's University Belfast,QBELF,33,440
44,Heriot-Watt,Heriot-Watt,"Heriot-Watt University, Edinburgh",HW,34,400
20,Cardiff,Cardiff,Cardiff University,CARDF,35,480
29,Dundee,The of Dundee,University of Dundee,DUND,35,440
82,Royal Holloway and Bedford New College,Royal Holloway and Bedford New College,"Royal Holloway, University of London",RHUL,37,440
106,The University of Liverpool,The University of Liverpool,The University of Liverpool,LVRPL,38,480
93,Stirling,The of Stirling,The University of Stirling,STIRL,39,440
25,"City, University of London","City, of London","City, University of London",CITY,40,400
103,The University of Essex,The University of Essex,The University of Essex,ESSEX,41,480
100,The University of Aberdeen,The University of Aberdeen,The University of Aberdeen,ABRDN,42,440
83,SOAS University of London,SOAS of London,SOAS University of London,SOAS,43,320
90,"St George's, University of London","St George's, of London","St George's, University of London",SGEO,44,400
98,Swansea,Swansea,Swansea University,SWAN,45,440
43,Harper Adams,Harper Adams,Harper Adams University,HAUC,46,400
48,Keele,Keele,Keele University,KEELE,46,440
94,Strathclyde,The of Strathclyde,The University of Strathclyde,STRAT,48,440
56,Lincoln,The of Lincoln,University of Lincoln,LINCO,49,480
26,Coventry,Coventry,Coventry University,COVN,50,480
41,Goldsmiths College,Goldsmiths College,Imperial College London,IMP,51,440
15,Brunel University London,Brunel London,Brunel University London,BRUNL,52,440
12,Bradford,The of Bradford,The University of Bradford,BRADF,53,480
27,De Montfort,De Montfort,De Montfort University,DEM,54,440
16,Buckingham,The of Buckingham,The University of Buckingham,BUCK,55,400
11,Bournemouth,Bournemouth,Bournemouth University,BMTH,56,480
64,Manchester Metropolitan,The Manchester Metropolitan,The Manchester Metropolitan University,MMU,57,480
37,Falmouth,Falmouth,Falmouth University,FAL,58,320
112,University for the Creative Arts,for the Creative Arts,University for the Creative Arts (UCA),UCA,59,320
114,University of Northumbria at Newcastle,University of Northumbria at Newcastle,University of Cumbria,CUMB,59,480
74,Portsmouth,The of Portsmouth,University of Portsmouth,PORT,61,480
5,Bangor,Bangor,Bangor University,BANGR,62,440
70,Nottingham Trent,The Nottingham Trent,Nottingham Trent University,NOTRE,63,480
79,Robert Gordon,The Robert Gordon,Robert Gordon University,RGU,64,440
72,Oxford Brookes,Oxford Brookes,Oxford Brookes University,OXFD,65,480
68,Norwich University of the Arts,Norwich of the Arts,Norwich University Of The Arts,NUA,66,320
120,"West of England, Bristol","of the West of England, Bristol",University of Bristol,BRISL,67,480
104,The University of Hull,The University of Hull,The University of Hull,HULL,68,480
80,Roehampton,Roehampton,University of Roehampton,ROE,69,440
109,Ulster,Ulster,Ulster University,ULS,70,480
33,Edge Hill,Edge Hill,Edge Hill University,EHU,71,440
21,Cardiff Metropolitan,Cardiff Metropolitan,Cardiff Metropolitan University,CUWIC,72,400
86,Sheffield Hallam,Sheffield Hallam,Sheffield Hallam University,SHU,72,480
123,Winchester,The of Winchester,University of Winchester,WIN,74,480
58,Liverpool John Moores,Liverpool John Moores,Liverpool John Moores University (LJMU),LJM,74,480
6,Bath Spa University,Bath Spa University,Bath Spa University,BASPA,76,400
3,Arts University Bournemouth,The Arts Bournemouth,Arts University Bournemouth,AUCB,76,400
65,Middlesex,Middlesex,Middlesex University,MIDDX,78,440
45,Hertfordshire,of Hertfordshire,University of Hertfordshire,HERTS,79,480
24,Chichester,The of Chichester,University of Chichester,CHICH,80,480
46,Huddersfield,The of Huddersfield,The University of Huddersfield,HUDDS,81,480
39,Glasgow Caledonian,Glasgow Caledonian,Glasgow Caledonian University,GCU,82,480
57,Liverpool Hope University,Liverpool Hope University,Liverpool Hope University,LHOPE,83,320
73,Plymouth,of Plymouth,Plymouth University,PLYM,84,480
117,"University of the Arts, London","of the Arts, London",University of the Arts London,UAL,85,480
0,Abertay,Abertay,Abertay University,ABTAY,86,440
67,Northampton,The of Northampton,University of Northampton,NTON,87,480
1,Aberystwyth,Aberystwyth,Aberystwyth University,ABWTH,87,440
40,Gloucestershire,of Gloucestershire,The University of Gloucestershire,GLOS,89,480
13,Brighton,The of Brighton,University of Brighton,BRITN,90,480
28,Derby,of Derby,University of Derby,DERBY,91,480
35,Edinburgh Napier,Edinburgh Napier,Edinburgh Napier University,ENAP,92,440
75,Queen Margaret,"Queen Margaret , Edinburgh","Queen Margaret University, Edinburgh",QMU,93,440
23,Chester,of Chester,University of Chester,CHSTR,94,480
8,Birmingham City,Birmingham City,Birmingham City University,BCITY,95,440
84,Salford,The of Salford,The University of Salford,SALF,95,400
124,Worcester,of Worcester,University of Worcester,WORCS,97,480
42,Greenwich,The of Greenwich,University of Greenwich,GREEN,98,480
22,Central Lancashire,The of Central Lancashire,University of Central Lancashire (UCLan),CLANC,99,480
88,South Wales,of South Wales,University of South Wales,USW,99,480
92,Staffordshire,Staffordshire,Staffordshire University,STAFF,101,480
122,Westminster,The of Westminster,University of Winchester,WIN,102,480
54,Leeds Trinity,Leeds Trinity,Leeds Trinity University,LETAS,103,320
81,Royal Agricultural University,Royal Agricultural,"Royal Agricultural University, Cirencester",RAU,103,400
95,Sunderland,The of Sunderland,University of Sunderland,SUND,103,480
119,West London,The of West London,ARU London,LCA,106,480
126,York St John,York St John,York St John University,YSJ,107,400
99,Teesside,Teesside,Teesside University,TEES,107,480
50,Kingston,Kingston,Kingston University,KING,109,480
121,West of Scotland,The of the West of Scotland,University of the West of Scotland,UWS,110,480
2,Anglia Ruskin,Anglia Ruskin,Anglia Ruskin University,ARU,110,480
19,Canterbury Christ Church,Canterbury Christ Church,Canterbury Christ Church University,CANCC,112,480
17,Buckinghamshire New,Buckinghamshire New,Buckinghamshire New University,BUCKS,113,480
53,Leeds Beckett,Leeds Beckett,Leeds Beckett University,LMU,114,480
61,London South Bank,London South Bank,London South Bank University,LSBU,115,480
87,Solent University,Solent University,Coventry University,COVN,115,480
91,"St Mary's, Twickenham","St Mary's , Twickenham","St Mary's University, Twickenham, London",SMARY,118,480
9,Bishop Grosseteste,Bishop Grosseteste,Bishop Grosseteste University,BGU,119,320
7,Bedfordshire,of Bedfordshire,University of Bedfordshire,BEDS,120,480
113,University of Cumbria,University of Cumbria,University of Cumbria,CUMB,121,480
10,Bolton,The of Bolton,University of Bolton,BOLTN,122,440
116,University of Wales Trinity Saint David,of Wales Trinity Saint David,University of Wales Trinity Saint David (UWTSD),UWTSD,123,480
115,University of St Mark and St John,University of St Mark and St John,University of the Arts London,UAL,124,440
125,Wrexham Glyndŵr,Glyndŵr,Durham University,DUR,125,480
32,East London,The of East London,ARU London,LCA,126,480
59,London Metropolitan,London Metropolitan,London Metropolitan University,LONMT,127,480

In [35]:
institution_group_ordered = all_institutions_out_n_ranks_2017.groupby(['institution', 'provider_name', 'rank']).size().reset_index().rename(columns={0:'count'}).copy()

In [36]:
institution_group_ordered.sort_values("rank", ascending = True)

,institution,provider_name,rank,count
18,Cambridge,The of Cambridge,1,320
72,Oxford,The of Oxford,2,400
60,London School of Economics and Political Science,London School of Economics and Political Science,3,320
47,Imperial College London,Imperial College London,4,320
90,St Andrews,The of St Andrews,5,440
30,Durham,of Durham,6,400
62,Loughborough,Loughborough,7,440
119,Warwick,The of Warwick,8,440
51,Lancaster,The of Lancaster,9,320
111,University College London,College London,10,400
112,University College London,University College London,10,400
102,The University of Bath,The University of Bath,11,400
97,Surrey,The of Surrey,11,440
36,Exeter,The of Exeter,13,440
31,East Anglia (UEA),The of East Anglia,14,400
103,The University of Birmingham,The University of Birmingham,15,320
52,Leeds,Leeds Arts,16,320
108,The University of Southampton,The University of Southampton,17,400
98,Sussex,The of Sussex,18,320
34,Edinburgh,The of Edinburgh,19,480
109,The University of York,The University of York,20,400
49,King's College London,King's College London,21,400
70,Nottingham,of Nottingham,21,400
106,The University of Kent,The University of Kent,23,440
14,Bristol,The of Bristol,24,440
66,Newcastle,Newcastle,25,400
63,Manchester,The of Manchester,25,320
86,Sheffield,The of Sheffield,27,420
79,Reading,The of Reading,27,440
38,Glasgow,The of Glasgow,29,460
4,Aston,Aston,30,480
77,"Queen Mary, University of London",Queen Mary of London,31,320
55,Leicester,The of Leicester,32,460
78,"Queen's, Belfast",Queen's Belfast,33,440
44,Heriot-Watt,Heriot-Watt,34,400
29,Dundee,The of Dundee,35,440
20,Cardiff,Cardiff,35,480
83,Royal Holloway and Bedford New College,Royal Holloway and Bedford New College,37,440
107,The University of Liverpool,The University of Liverpool,38,480
94,Stirling,The of Stirling,39,440
25,"City, University of London","City, of London",40,400
104,The University of Essex,The University of Essex,41,480
101,The University of Aberdeen,The University of Aberdeen,42,440
84,SOAS University of London,SOAS of London,43,320
91,"St George's, University of London","St George's, of London",44,400
99,Swansea,Swansea,45,440
43,Harper Adams,Harper Adams,46,400
48,Keele,Keele,46,440
95,Strathclyde,The of Strathclyde,48,440
56,Lincoln,The of Lincoln,49,480
26,Coventry,Coventry,50,480
41,Goldsmiths College,Goldsmiths College,51,440
15,Brunel University London,Brunel London,52,440
12,Bradford,The of Bradford,53,480
27,De Montfort,De Montfort,54,440
16,Buckingham,The of Buckingham,55,400
11,Bournemouth,Bournemouth,56,480
64,Manchester Metropolitan,The Manchester Metropolitan,57,480
37,Falmouth,Falmouth,58,320
115,University of Northumbria at Newcastle,University of Northumbria at Newcastle,59,480
113,University for the Creative Arts,for the Creative Arts,59,320
75,Portsmouth,The of Portsmouth,61,480
5,Bangor,Bangor,62,440
71,Nottingham Trent,The Nottingham Trent,63,480
80,Robert Gordon,The Robert Gordon,64,440
73,Oxford Brookes,Oxford Brookes,65,480
69,Norwich University of the Arts,Norwich of the Arts,66,320
121,"West of England, Bristol","of the West of England, Bristol",67,480
105,The University of Hull,The University of Hull,68,480
81,Roehampton,Roehampton,69,440
110,Ulster,Ulster,70,480
33,Edge Hill,Edge Hill,71,440
87,Sheffield Hallam,Sheffield Hallam,72,480
21,Cardiff Metropolitan,Cardiff Metropolitan,72,400
58,Liverpool John Moores,Liverpool John Moores,74,480
124,Winchester,The of Winchester,74,480
3,Arts University Bournemouth,The Arts Bournemouth,76,400
6,Bath Spa University,Bath Spa University,76,400
65,Middlesex,Middlesex,78,440
45,Hertfordshire,of Hertfordshire,79,480
24,Chichester,The of Chichester,80,480
46,Huddersfield,The of Huddersfield,81,480
39,Glasgow Caledonian,Glasgow Caledonian,82,480
57,Liverpool Hope University,Liverpool Hope University,83,320
74,Plymouth,of Plymouth,84,480
118,"University of the Arts, London","of the Arts, London",85,480
0,Abertay,Abertay,86,440
68,Northampton,The of Northampton,87,480
1,Aberystwyth,Aberystwyth,87,440
40,Gloucestershire,of Gloucestershire,89,480
13,Brighton,The of Brighton,90,480
28,Derby,of Derby,91,480
35,Edinburgh Napier,Edinburgh Napier,92,440
76,Queen Margaret,"Queen Margaret , Edinburgh",93,440
23,Chester,of Chester,94,480
8,Birmingham City,Birmingham City,95,440
85,Salford,The of Salford,95,400
125,Worcester,of Worcester,97,480
42,Greenwich,The of Greenwich,98,480
89,South Wales,of South Wales,99,480
22,Central Lancashire,The of Central Lancashire,99,480
93,Staffordshire,Staffordshire,101,480
123,Westminster,The of Westminster,102,480
82,Royal Agricultural University,Royal Agricultural,103,400
54,Leeds Trinity,Leeds Trinity,103,320
96,Sunderland,The of Sunderland,103,480
120,West London,The of West London,106,480
127,York St John,York St John,107,400
100,Teesside,Teesside,107,480
50,Kingston,Kingston,109,480
122,West of Scotland,The of the West of Scotland,110,480
2,Anglia Ruskin,Anglia Ruskin,110,480
19,Canterbury Christ Church,Canterbury Christ Church,112,480
17,Buckinghamshire New,Buckinghamshire New,113,480
53,Leeds Beckett,Leeds Beckett,114,480
61,London South Bank,London South Bank,115,480
88,Solent University,Solent University,115,480
67,Newman,Newman,117,440
92,"St Mary's, Twickenham","St Mary's , Twickenham",118,480
9,Bishop Grosseteste,Bishop Grosseteste,119,320
7,Bedfordshire,of Bedfordshire,120,480
114,University of Cumbria,University of Cumbria,121,480
10,Bolton,The of Bolton,122,440
117,University of Wales Trinity Saint David,of Wales Trinity Saint David,123,480
116,University of St Mark and St John,University of St Mark and St John,124,440
126,Wrexham Glyndŵr,Glyndŵr,125,480
32,East London,The of East London,126,480
59,London Metropolitan,London Metropolitan,127,480

In [37]:
second_code_merge_groups = second_code_merge_test.groupby(['institution', 'provider_name', 'name', 'name_abbreviation', 'rank']).size().reset_index().rename(columns={0:'count'})

In [38]:
all_institutions_out_n_ranks_2017.describe(include = "all")

,ukprn,provider_name,country_of_provider,mode_of_former_study,skill_group,work_population_marker,salary_band,number,rank,institution
count,5.574000e+04,55740,55740,55740,55740,55740,55740,55740.000000,55740.000000,55740
unique,NaN,128,5,3,4,2,10,NaN,NaN,127
top,NaN,The of Greenwich,All,All,All,Paid employment is an activity,"Less than £15,000",NaN,NaN,University College London
freq,NaN,480,27870,20480,14720,27900,5574,NaN,NaN,800
mean,1.000675e+07,NaN,NaN,NaN,NaN,NaN,NaN,26.819699,65.428776,NaN
std,4.547923e+03,NaN,NaN,NaN,NaN,NaN,NaN,52.790819,36.424347,NaN
min,1.000029e+07,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,1.000000,NaN
25%,1.000534e+07,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,34.000000,NaN
50%,1.000716e+07,NaN,NaN,NaN,NaN,NaN,NaN,5.000000,67.000000,NaN
75%,1.000779e+07,NaN,NaN,NaN,NaN,NaN,NaN,25.000000,97.000000,NaN
max,1.004081e+07,NaN,NaN,NaN,NaN,NaN,NaN,505.000000,127.000000,NaN

In [39]:
min_prov_all_institutions_out_n_ranks_2017 = all_institutions_out_n_ranks_2017.drop('provider_name', 1).copy()

In [40]:
min_prov_all_institutions_out_n_ranks_2017 = min_prov_all_institutions_out_n_ranks_2017.drop_duplicates(keep = 'first')

In [41]:
extra_institution_group_ordered = min_prov_all_institutions_out_n_ranks_2017.groupby(['institution', 'rank']).size().reset_index().rename(columns={0:'count'}).copy()

In [42]:
extra_institution_group_ordered

                                          institution  rank  count
0                                             Abertay    86    440
1                                         Aberystwyth    87    440
2                                       Anglia Ruskin   110    480
3                         Arts University Bournemouth    76    400
4                                               Aston    30    480
5                                              Bangor    62    440
6                                 Bath Spa University    76    400
7                                        Bedfordshire   120    480
8                                     Birmingham City    95    440
9                                  Bishop Grosseteste   119    320
10                                             Bolton   122    440
11                                        Bournemouth    56    480
12                                           Bradford    53    480
13                                           Brighton    90    480
14                                            Bristol    24    440
15                           Brunel University London    52    440
16                                         Buckingham    55    400
17                                Buckinghamshire New   113    480
18                                          Cambridge     1    320
19                           Canterbury Christ Church   112    480
20                                            Cardiff    35    480
21                               Cardiff Metropolitan    72    400
22                                 Central Lancashire    99    480
23                                            Chester    94    480
24                                         Chichester    80    480
25                         City, University of London    40    400
26                                           Coventry    50    480
27                                        De Montfort    54    440
28                                              Derby    91    480
29                                             Dundee    35    440
30                                             Durham     6    400
31                                  East Anglia (UEA)    14    400
32                                        East London   126    480
33                                          Edge Hill    71    440
34                                          Edinburgh    19    480
35                                   Edinburgh Napier    92    440
36                                             Exeter    13    440
37                                           Falmouth    58    320
38                                            Glasgow    29    460
39                                 Glasgow Caledonian    82    480
40                                    Gloucestershire    89    480
41                                 Goldsmiths College    51    440
42                                          Greenwich    98    480
43                                       Harper Adams    46    400
44                                        Heriot-Watt    34    400
45                                      Hertfordshire    79    480
46                                       Huddersfield    81    480
47                            Imperial College London     4    320
48                                              Keele    46    440
49                              King's College London    21    400
50                                           Kingston   109    480
51                                          Lancaster     9    320
52                                              Leeds    16    320
53                                      Leeds Beckett   114    480
54                                      Leeds Trinity   103    320
55                                          Leicester    32    460
56                                            Lincoln    49    480
57                          Liverpool Hope University    83    320
58                              Liverpool John Moores    74    480
59                                London Metropolitan   127    480
60   London School of Economics and Political Science     3    320
61                                  London South Bank   115    480
62                                       Loughborough     7    440
63                                         Manchester    25    320
64                            Manchester Metropolitan    57    480
65                                          Middlesex    78    440
66                                          Newcastle    25    400
67                                             Newman   117    440
68                                        Northampton    87    480
69                     Norwich University of the Arts    66    320
70                                         Nottingham    21    400
71                                   Nottingham Trent    63    480
72                                             Oxford     2    400
73                                     Oxford Brookes    65    480
74                                           Plymouth    84    480
75                                         Portsmouth    61    480
76                                     Queen Margaret    93    440
77                   Queen Mary, University of London    31    320
78                                   Queen's, Belfast    33    440
79                                            Reading    27    440
80                                      Robert Gordon    64    440
81                                         Roehampton    69    440
82                      Royal Agricultural University   103    400
83             Royal Holloway and Bedford New College    37    440
84                          SOAS University of London    43    320
85                                            Salford    95    400
86                                          Sheffield    27    420
87                                   Sheffield Hallam    72    480
88                                  Solent University   115    480
89                                        South Wales    99    480
90                                         St Andrews     5    440
91                  St George's, University of London    44    400
92                              St Mary's, Twickenham   118    480
93                                      Staffordshire   101    480
94                                           Stirling    39    440
95                                        Strathclyde    48    440
96                                         Sunderland   103    480
97                                             Surrey    11    440
98                                             Sussex    18    320
99                                            Swansea    45    440
100                                          Teesside   107    480
101                        The University of Aberdeen    42    440
102                            The University of Bath    11    400
103                      The University of Birmingham    15    320
104                           The University of Essex    41    480
105                            The University of Hull    68    480
106                            The University of Kent    23    440
107                       The University of Liverpool    38    480
108                     The University of Southampton    17    400
109                            The University of York    20    400
110                                            Ulster    70    480
111                         University College London    10    400
112                  University for the Creative Arts    59    320
113                             University of Cumbria   121    480
114            University of Northumbria at Newcastle    59    480
115                 University of St Mark and St John   124    440
116           University of Wales Trinity Saint David   123    480
117                    University of the Arts, London    85    480
118                                           Warwick     8    440
119                                       West London   106    480
120                          West of England, Bristol    67    480
121                                  West of Scotland   110    480
122                                       Westminster   102    480
123                                        Winchester    74    480
124                                         Worcester    97    480
125                                   Wrexham Glyndŵr   125    480
126                                      York St John   107    400

In [43]:
min_prov_all_institutions_out_n_ranks_2017.duplicated().any()

False

In [44]:
institution_data

,ukprn,provider_name,country_of_provider,mode_of_former_study,skill_group,work_population_marker,salary_band,number
0,10008071.0,AA School of Architecture,England,Full-time,High skilled,Paid employment is an activity,"Less than £15,000",0
1,10008071.0,AA School of Architecture,England,Full-time,High skilled,Paid employment is an activity,"£15,000 - £17,999",0
2,10008071.0,AA School of Architecture,England,Full-time,High skilled,Paid employment is an activity,"£18,000 - £20,999",0
3,10008071.0,AA School of Architecture,England,Full-time,High skilled,Paid employment is an activity,"£21,000 - £23,999",0
4,10008071.0,AA School of Architecture,England,Full-time,High skilled,Paid employment is an activity,"£24,000 - £26,999",0
...,...,...,...,...,...,...,...,...
113875,NaN,Total,Wales,Part-time,Medium skilled,Paid employment is most important activity,"£27,000 - £29,999",0
113876,NaN,Total,Wales,Part-time,Medium skilled,Paid employment is most important activity,"£30,000 - £32,999",5
113877,NaN,Total,Wales,Part-time,Medium skilled,Paid employment is most important activity,"£33,000 - £35,999",10
113878,NaN,Total,Wales,Part-time,Medium skilled,Paid employment is most important activity,"£36,000 - £38,999",5
113879,NaN,Total,Wales,Part-time,Medium skilled,Paid employment is most important activity,"£39,000+",10

In [45]:
leeds_check = institution_data.loc[institution_data["ukprn"] == 10003854.0].copy()

In [46]:
leeds_check

,ukprn,provider_name,country_of_provider,mode_of_former_study,skill_group,work_population_marker,salary_band,number
52460,10003854.0,Leeds Arts University,England,Full-time,High skilled,Paid employment is an activity,"Less than £15,000",5
52461,10003854.0,Leeds Arts University,England,Full-time,High skilled,Paid employment is an activity,"£15,000 - £17,999",5
52462,10003854.0,Leeds Arts University,England,Full-time,High skilled,Paid employment is an activity,"£18,000 - £20,999",25
52463,10003854.0,Leeds Arts University,England,Full-time,High skilled,Paid employment is an activity,"£21,000 - £23,999",15
52464,10003854.0,Leeds Arts University,England,Full-time,High skilled,Paid employment is an activity,"£24,000 - £26,999",10
52465,10003854.0,Leeds Arts University,England,Full-time,High skilled,Paid employment is an activity,"£27,000 - £29,999",0
52466,10003854.0,Leeds Arts University,England,Full-time,High skilled,Paid employment is an activity,"£30,000 - £32,999",0
52467,10003854.0,Leeds Arts University,England,Full-time,High skilled,Paid employment is an activity,"£33,000 - £35,999",0
52468,10003854.0,Leeds Arts University,England,Full-time,High skilled,Paid employment is an activity,"£36,000 - £38,999",0
52469,10003854.0,Leeds Arts University,England,Full-time,High skilled,Paid employment is an activity,"£39,000+",0
52470,10003854.0,Leeds Arts University,England,Full-time,High skilled,Paid employment is most important activity,"Less than £15,000",5
52471,10003854.0,Leeds Arts University,England,Full-time,High skilled,Paid employment is most important activity,"£15,000 - £17,999",5
52472,10003854.0,Leeds Arts University,England,Full-time,High skilled,Paid employment is most important activity,"£18,000 - £20,999",25
52473,10003854.0,Leeds Arts University,England,Full-time,High skilled,Paid employment is most important activity,"£21,000 - £23,999",15
52474,10003854.0,Leeds Arts University,England,Full-time,High skilled,Paid employment is most important activity,"£24,000 - £26,999",10
52475,10003854.0,Leeds Arts University,England,Full-time,High skilled,Paid employment is most important activity,"£27,000 - £29,999",0
52476,10003854.0,Leeds Arts University,England,Full-time,High skilled,Paid employment is most important activity,"£30,000 - £32,999",0
52477,10003854.0,Leeds Arts University,England,Full-time,High skilled,Paid employment is most important activity,"£33,000 - £35,999",0
52478,10003854.0,Leeds Arts University,England,Full-time,High skilled,Paid employment is most important activity,"£36,000 - £38,999",0
52479,10003854.0,Leeds Arts University,England,Full-time,High skilled,Paid employment is most important activity,"£39,000+",0
52480,10003854.0,Leeds Arts University,England,Full-time,Low skilled,Paid employment is an activity,"Less than £15,000",0
52481,10003854.0,Leeds Arts University,England,Full-time,Low skilled,Paid employment is an activity,"£15,000 - £17,999",5
52482,10003854.0,Leeds Arts University,England,Full-time,Low skilled,Paid employment is an activity,"£18,000 - £20,999",5
52483,10003854.0,Leeds Arts University,England,Full-time,Low skilled,Paid employment is an activity,"£21,000 - £23,999",0
52484,10003854.0,Leeds Arts University,England,Full-time,Low skilled,Paid employment is an activity,"£24,000 - £26,999",0
52485,10003854.0,Leeds Arts University,England,Full-time,Low skilled,Paid employment is an activity,"£27,000 - £29,999",0
52486,10003854.0,Leeds Arts University,England,Full-time,Low skilled,Paid employment is an activity,"£30,000 - £32,999",0
52487,10003854.0,Leeds Arts University,England,Full-time,Low skilled,Paid employment is an activity,"£33,000 - £35,999",0
52488,10003854.0,Leeds Arts University,England,Full-time,Low skilled,Paid employment is an activity,"£36,000 - £38,999",0
52489,10003854.0,Leeds Arts University,England,Full-time,Low skilled,Paid employment is an activity,"£39,000+",0
52490,10003854.0,Leeds Arts University,England,Full-time,Low skilled,Paid employment is most important activity,"Less than £15,000",0
52491,10003854.0,Leeds Arts University,England,Full-time,Low skilled,Paid employment is most important activity,"£15,000 - £17,999",5
52492,10003854.0,Leeds Arts University,England,Full-time,Low skilled,Paid employment is most important activity,"£18,000 - £20,999",5
52493,10003854.0,Leeds Arts University,England,Full-time,Low skilled,Paid employment is most important activity,"£21,000 - £23,999",0
52494,10003854.0,Leeds Arts University,England,Full-time,Low skilled,Paid employment is most important activity,"£24,000 - £26,999",0
52495,10003854.0,Leeds Arts University,England,Full-time,Low skilled,Paid employment is most important activity,"£27,000 - £29,999",0
52496,10003854.0,Leeds Arts University,England,Full-time,Low skilled,Paid employment is most important activity,"£30,000 - £32,999",0
52497,10003854.0,Leeds Arts University,England,Full-time,Low skilled,Paid employment is most important activity,"£33,000 - £35,999",0
52498,10003854.0,Leeds Arts University,England,Full-time,Low skilled,Paid employment is most important activity,"£36,000 - £38,999",0
52499,10003854.0,Leeds Arts University,England,Full-time,Low skilled,Paid employment is most important activity,"£39,000+",0
52500,10003854.0,Leeds Arts University,England,Full-time,Medium skilled,Paid employment is an activity,"Less than £15,000",5
52501,10003854.0,Leeds Arts University,England,Full-time,Medium skilled,Paid employment is an activity,"£15,000 - £17,999",5
52502,10003854.0,Leeds Arts University,England,Full-time,Medium skilled,Paid employment is an activity,"£18,000 - £20,999",10
52503,10003854.0,Leeds Arts University,England,Full-time,Medium skilled,Paid employment is an activity,"£21,000 - £23,999",0
52504,10003854.0,Leeds Arts University,England,Full-time,Medium skilled,Paid employment is an activity,"£24,000 - £26,999",0
52505,10003854.0,Leeds Arts University,England,Full-time,Medium skilled,Paid employment is an activity,"£27,000 - £29,999",0
52506,10003854.0,Leeds Arts University,England,Full-time,Medium skilled,Paid employment is an activity,"£30,000 - £32,999",0
52507,10003854.0,Leeds Arts University,England,Full-time,Medium skilled,Paid employment is an activity,"£33,000 - £35,999",0
52508,10003854.0,Leeds Arts University,England,Full-time,Medium skilled,Paid employment is an activity,"£36,000 - £38,999",0
52509,10003854.0,Leeds Arts University,England,Full-time,Medium skilled,Paid employment is an activity,"£39,000+",0
52510,10003854.0,Leeds Arts University,England,Full-time,Medium skilled,Paid employment is most important activity,"Less than £15,000",5
52511,10003854.0,Leeds Arts University,England,Full-time,Medium skilled,Paid employment is most important activity,"£15,000 - £17,999",5
52512,10003854.0,Leeds Arts University,England,Full-time,Medium skilled,Paid employment is most important activity,"£18,000 - £20,999",10
52513,10003854.0,Leeds Arts University,England,Full-time,Medium skilled,Paid employment is most important activity,"£21,000 - £23,999",0
52514,10003854.0,Leeds Arts University,England,Full-time,Medium skilled,Paid employment is most important activity,"£24,000 - £26,999",0
52515,10003854.0,Leeds Arts University,England,Full-time,Medium skilled,Paid employment is most important activity,"£27,000 - £29,999",0
52516,10003854.0,Leeds Arts University,England,Full-time,Medium skilled,Paid employment is most important activity,"£30,000 - £32,999",0
52517,10003854.0,Leeds Arts University,England,Full-time,Medium skilled,Paid employment is most important activity,"£33,000 - £35,999",0
52518,10003854.0,Leeds Arts University,England,Full-time,Medium skilled,Paid employment is most important activity,"£36,000 - £38,999",0
52519,10003854.0,Leeds Arts University,England,Full-time,Medium skilled,Paid employment is most important activity,"£39,000+",0
52520,10003854.0,Leeds Arts University,All,Full-time,High skilled,Paid employment is an activity,"Less than £15,000",5
52521,10003854.0,Leeds Arts University,All,Full-time,High skilled,Paid employment is an activity,"£15,000 - £17,999",5
52522,10003854.0,Leeds Arts University,All,Full-time,High skilled,Paid employment is an activity,"£18,000 - £20,999",25
52523,10003854.0,Leeds Arts University,All,Full-time,High skilled,Paid employment is an activity,"£21,000 - £23,999",15
52524,10003854.0,Leeds Arts University,All,Full-time,High skilled,Paid employment is an activity,"£24,000 - £26,999",10
52525,10003854.0,Leeds Arts University,All,Full-time,High skilled,Paid employment is an activity,"£27,000 - £29,999",0
52526,10003854.0,Leeds Arts University,All,Full-time,High skilled,Paid employment is an activity,"£30,000 - £32,999",0
52527,10003854.0,Leeds Arts University,All,Full-time,High skilled,Paid employment is an activity,"£33,000 - £35,999",0
52528,10003854.0,Leeds Arts University,All,Full-time,High skilled,Paid employment is an activity,"£36,000 - £38,999",0
52529,10003854.0,Leeds Arts University,All,Full-time,High skilled,Paid employment is an activity,"£39,000+",0
52530,10003854.0,Leeds Arts University,All,Full-time,High skilled,Paid employment is most important activity,"Less than £15,000",5
52531,10003854.0,Leeds Arts University,All,Full-time,High skilled,Paid employment is most important activity,"£15,000 - £17,999",5
52532,10003854.0,Leeds Arts University,All,Full-time,High skilled,Paid employment is most important activity,"£18,000 - £20,999",25
52533,10003854.0,Leeds Arts University,All,Full-time,High skilled,Paid employment is most important activity,"£21,000 - £23,999",15
52534,10003854.0,Leeds Arts University,All,Full-time,High skilled,Paid employment is most important activity,"£24,000 - £26,999",10
52535,10003854.0,Leeds Arts University,All,Full-time,High skilled,Paid employment is most important activity,"£27,000 - £29,999",0
52536,10003854.0,Leeds Arts University,All,Full-time,High skilled,Paid employment is most important activity,"£30,000 - £32,999",0
52537,10003854.0,Leeds Arts University,All,Full-time,High skilled,Paid employment is most important activity,"£33,000 - £35,999",0
52538,10003854.0,Leeds Arts University,All,Full-time,High skilled,Paid employment is most important activity,"£36,000 - £38,999",0
52539,10003854.0,Leeds Arts University,All,Full-time,High skilled,Paid employment is most important activity,"£39,000+",0
52540,10003854.0,Leeds Arts University,All,Full-time,Low skilled,Paid employment is an activity,"Less than £15,000",0
52541,10003854.0,Leeds Arts University,All,Full-time,Low skilled,Paid employment is an activity,"£15,000 - £17,999",5
52542,10003854.0,Leeds Arts University,All,Full-time,Low skilled,Paid employment is an activity,"£18,000 - £20,999",5
52543,10003854.0,Leeds Arts University,All,Full-time,Low skilled,Paid employment is an activity,"£21,000 - £23,999",0
52544,10003854.0,Leeds Arts University,All,Full-time,Low skilled,Paid employment is an activity,"£24,000 - £26,999",0
52545,10003854.0,Leeds Arts University,All,Full-time,Low skilled,Paid employment is an activity,"£27,000 - £29,999",0
52546,10003854.0,Leeds Arts University,All,Full-time,Low skilled,Paid employment is an activity,"£30,000 - £32,999",0
52547,10003854.0,Leeds Arts University,All,Full-time,Low skilled,Paid employment is an activity,"£33,000 - £35,999",0
52548,10003854.0,Leeds Arts University,All,Full-time,Low skilled,Paid employment is an activity,"£36,000 - £38,999",0
52549,10003854.0,Leeds Arts University,All,Full-time,Low skilled,Paid employment is an activity,"£39,000+",0
52550,10003854.0,Leeds Arts University,All,Full-time,Low skilled,Paid employment is most important activity,"Less than £15,000",0
52551,10003854.0,Leeds Arts University,All,Full-time,Low skilled,Paid employment is most important activity,"£15,000 - £17,999",5
52552,10003854.0,Leeds Arts University,All,Full-time,Low skilled,Paid employment is most important activity,"£18,000 - £20,999",5
52553,10003854.0,Leeds Arts University,All,Full-time,Low skilled,Paid employment is most important activity,"£21,000 - £23,999",0
52554,10003854.0,Leeds Arts University,All,Full-time,Low skilled,Paid employment is most important activity,"£24,000 - £26,999",0
52555,10003854.0,Leeds Arts University,All,Full-time,Low skilled,Paid employment is most important activity,"£27,000 - £29,999",0
52556,10003854.0,Leeds Arts University,All,Full-time,Low skilled,Paid employment is most important activity,"£30,000 - £32,999",0
52557,10003854.0,Leeds Arts University,All,Full-time,Low skilled,Paid employment is most important activity,"£33,000 - £35,999",0
52558,10003854.0,Leeds Arts University,All,Full-time,Low skilled,Paid employment is most important activity,"£36,000 - £38,999",0
52559,10003854.0,Leeds Arts University,All,Full-time,Low skilled,Paid employment is most important activity,"£39,000+",0
52560,10003854.0,Leeds Arts University,All,Full-time,Medium skilled,Paid employment is an activity,"Less than £15,000",5
52561,10003854.0,Leeds Arts University,All,Full-time,Medium skilled,Paid employment is an activity,"£15,000 - £17,999",5
52562,10003854.0,Leeds Arts University,All,Full-time,Medium skilled,Paid employment is an activity,"£18,000 - £20,999",10
52563,10003854.0,Leeds Arts University,All,Full-time,Medium skilled,Paid employment is an activity,"£21,000 - £23,999",0
52564,10003854.0,Leeds Arts University,All,Full-time,Medium skilled,Paid employment is an activity,"£24,000 - £26,999",0
52565,10003854.0,Leeds Arts University,All,Full-time,Medium skilled,Paid employment is an activity,"£27,000 - £29,999",0
52566,10003854.0,Leeds Arts University,All,Full-time,Medium skilled,Paid employment is an activity,"£30,000 - £32,999",0
52567,10003854.0,Leeds Arts University,All,Full-time,Medium skilled,Paid employment is an activity,"£33,000 - £35,999",0
52568,10003854.0,Leeds Arts University,All,Full-time,Medium skilled,Paid employment is an activity,"£36,000 - £38,999",0
52569,10003854.0,Leeds Arts University,All,Full-time,Medium skilled,Paid employment is an activity,"£39,000+",0
52570,10003854.0,Leeds Arts University,All,Full-time,Medium skilled,Paid employment is most important activity,"Less than £15,000",5
52571,10003854.0,Leeds Arts University,All,Full-time,Medium skilled,Paid employment is most important activity,"£15,000 - £17,999",5
52572,10003854.0,Leeds Arts University,All,Full-time,Medium skilled,Paid employment is most important activity,"£18,000 - £20,999",10
52573,10003854.0,Leeds Arts University,All,Full-time,Medium skilled,Paid employment is most important activity,"£21,000 - £23,999",0
52574,10003854.0,Leeds Arts University,All,Full-time,Medium skilled,Paid employment is most important activity,"£24,000 - £26,999",0
52575,10003854.0,Leeds Arts University,All,Full-time,Medium skilled,Paid employment is most important activity,"£27,000 - £29,999",0
52576,10003854.0,Leeds Arts University,All,Full-time,Medium skilled,Paid employment is most important activity,"£30,000 - £32,999",0
52577,10003854.0,Leeds Arts University,All,Full-time,Medium skilled,Paid employment is most important activity,"£33,000 - £35,999",0
52578,10003854.0,Leeds Arts University,All,Full-time,Medium skilled,Paid employment is most important activity,"£36,000 - £38,999",0
52579,10003854.0,Leeds Arts University,All,Full-time,Medium skilled,Paid employment is most important activity,"£39,000+",0
52580,10003854.0,Leeds Arts University,All,All,High skilled,Paid employment is an activity,"Less than £15,000",5
52581,10003854.0,Leeds Arts University,All,All,High skilled,Paid employment is an activity,"£15,000 - £17,999",5
52582,10003854.0,Leeds Arts University,All,All,High skilled,Paid employment is an activity,"£18,000 - £20,999",25
52583,10003854.0,Leeds Arts University,All,All,High skilled,Paid employment is an activity,"£21,000 - £23,999",15
52584,10003854.0,Leeds Arts University,All,All,High skilled,Paid employment is an activity,"£24,000 - £26,999",10
52585,10003854.0,Leeds Arts University,All,All,High skilled,Paid employment is an activity,"£27,000 - £29,999",0
52586,10003854.0,Leeds Arts University,All,All,High skilled,Paid employment is an activity,"£30,000 - £32,999",0
52587,10003854.0,Leeds Arts University,All,All,High skilled,Paid employment is an activity,"£33,000 - £35,999",0
52588,10003854.0,Leeds Arts University,All,All,High skilled,Paid employment is an activity,"£36,000 - £38,999",0
52589,10003854.0,Leeds Arts University,All,All,High skilled,Paid employment is an activity,"£39,000+",0
52590,10003854.0,Leeds Arts University,All,All,High skilled,Paid employment is most important activity,"Less than £15,000",5
52591,10003854.0,Leeds Arts University,All,All,High skilled,Paid employment is most important activity,"£15,000 - £17,999",5
52592,10003854.0,Leeds Arts University,All,All,High skilled,Paid employment is most important activity,"£18,000 - £20,999",25
52593,10003854.0,Leeds Arts University,All,All,High skilled,Paid employment is most important activity,"£21,000 - £23,999",15
52594,10003854.0,Leeds Arts University,All,All,High skilled,Paid employment is most important activity,"£24,000 - £26,999",10
52595,10003854.0,Leeds Arts University,All,All,High skilled,Paid employment is most important activity,"£27,000 - £29,999",0
52596,10003854.0,Leeds Arts University,All,All,High skilled,Paid employment is most important activity,"£30,000 - £32,999",0
52597,10003854.0,Leeds Arts University,All,All,High skilled,Paid employment is most important activity,"£33,000 - £35,999",0
52598,10003854.0,Leeds Arts University,All,All,High skilled,Paid employment is most important activity,"£36,000 - £38,999",0
52599,10003854.0,Leeds Arts University,All,All,High skilled,Paid employment is most important activity,"£39,000+",0
52600,10003854.0,Leeds Arts University,All,All,Low skilled,Paid employment is an activity,"Less than £15,000",0
52601,10003854.0,Leeds Arts University,All,All,Low skilled,Paid employment is an activity,"£15,000 - £17,999",5
52602,10003854.0,Leeds Arts University,All,All,Low skilled,Paid employment is an activity,"£18,000 - £20,999",5
52603,10003854.0,Leeds Arts University,All,All,Low skilled,Paid employment is an activity,"£21,000 - £23,999",0
52604,10003854.0,Leeds Arts University,All,All,Low skilled,Paid employment is an activity,"£24,000 - £26,999",0
52605,10003854.0,Leeds Arts University,All,All,Low skilled,Paid employment is an activity,"£27,000 - £29,999",0
52606,10003854.0,Leeds Arts University,All,All,Low skilled,Paid employment is an activity,"£30,000 - £32,999",0
52607,10003854.0,Leeds Arts University,All,All,Low skilled,Paid employment is an activity,"£33,000 - £35,999",0
52608,10003854.0,Leeds Arts University,All,All,Low skilled,Paid employment is an activity,"£36,000 - £38,999",0
52609,10003854.0,Leeds Arts University,All,All,Low skilled,Paid employment is an activity,"£39,000+",0
52610,10003854.0,Leeds Arts University,All,All,Low skilled,Paid employment is most important activity,"Less than £15,000",0
52611,10003854.0,Leeds Arts University,All,All,Low skilled,Paid employment is most important activity,"£15,000 - £17,999",5
52612,10003854.0,Leeds Arts University,All,All,Low skilled,Paid employment is most important activity,"£18,000 - £20,999",5
52613,10003854.0,Leeds Arts University,All,All,Low skilled,Paid employment is most important activity,"£21,000 - £23,999",0
52614,10003854.0,Leeds Arts University,All,All,Low skilled,Paid employment is most important activity,"£24,000 - £26,999",0
52615,10003854.0,Leeds Arts University,All,All,Low skilled,Paid employment is most important activity,"£27,000 - £29,999",0
52616,10003854.0,Leeds Arts University,All,All,Low skilled,Paid employment is most important activity,"£30,000 - £32,999",0
52617,10003854.0,Leeds Arts University,All,All,Low skilled,Paid employment is most important activity,"£33,000 - £35,999",0
52618,10003854.0,Leeds Arts University,All,All,Low skilled,Paid employment is most important activity,"£36,000 - £38,999",0

In [47]:
min_prov_all_institutions_out_n_ranks_2017.loc[min_prov_all_institutions_out_n_ranks_2017["institution"] == "Leeds"]

,ukprn,country_of_provider,mode_of_former_study,skill_group,work_population_marker,salary_band,number,rank,institution
25540,10003854.0,England,Full-time,High skilled,Paid employment is an activity,"Less than £15,000",5,16,Leeds
25541,10003854.0,England,Full-time,High skilled,Paid employment is an activity,"£15,000 - £17,999",5,16,Leeds
25542,10003854.0,England,Full-time,High skilled,Paid employment is an activity,"£18,000 - £20,999",25,16,Leeds
25543,10003854.0,England,Full-time,High skilled,Paid employment is an activity,"£21,000 - £23,999",15,16,Leeds
25544,10003854.0,England,Full-time,High skilled,Paid employment is an activity,"£24,000 - £26,999",10,16,Leeds
25545,10003854.0,England,Full-time,High skilled,Paid employment is an activity,"£27,000 - £29,999",0,16,Leeds
25546,10003854.0,England,Full-time,High skilled,Paid employment is an activity,"£30,000 - £32,999",0,16,Leeds
25547,10003854.0,England,Full-time,High skilled,Paid employment is an activity,"£33,000 - £35,999",0,16,Leeds
25548,10003854.0,England,Full-time,High skilled,Paid employment is an activity,"£36,000 - £38,999",0,16,Leeds
25549,10003854.0,England,Full-time,High skilled,Paid employment is an activity,"£39,000+",0,16,Leeds
25550,10003854.0,England,Full-time,High skilled,Paid employment is most important activity,"Less than £15,000",5,16,Leeds
25551,10003854.0,England,Full-time,High skilled,Paid employment is most important activity,"£15,000 - £17,999",5,16,Leeds
25552,10003854.0,England,Full-time,High skilled,Paid employment is most important activity,"£18,000 - £20,999",25,16,Leeds
25553,10003854.0,England,Full-time,High skilled,Paid employment is most important activity,"£21,000 - £23,999",15,16,Leeds
25554,10003854.0,England,Full-time,High skilled,Paid employment is most important activity,"£24,000 - £26,999",10,16,Leeds
25555,10003854.0,England,Full-time,High skilled,Paid employment is most important activity,"£27,000 - £29,999",0,16,Leeds
25556,10003854.0,England,Full-time,High skilled,Paid employment is most important activity,"£30,000 - £32,999",0,16,Leeds
25557,10003854.0,England,Full-time,High skilled,Paid employment is most important activity,"£33,000 - £35,999",0,16,Leeds
25558,10003854.0,England,Full-time,High skilled,Paid employment is most important activity,"£36,000 - £38,999",0,16,Leeds
25559,10003854.0,England,Full-time,High skilled,Paid employment is most important activity,"£39,000+",0,16,Leeds
25560,10003854.0,England,Full-time,Low skilled,Paid employment is an activity,"Less than £15,000",0,16,Leeds
25561,10003854.0,England,Full-time,Low skilled,Paid employment is an activity,"£15,000 - £17,999",5,16,Leeds
25562,10003854.0,England,Full-time,Low skilled,Paid employment is an activity,"£18,000 - £20,999",5,16,Leeds
25563,10003854.0,England,Full-time,Low skilled,Paid employment is an activity,"£21,000 - £23,999",0,16,Leeds
25564,10003854.0,England,Full-time,Low skilled,Paid employment is an activity,"£24,000 - £26,999",0,16,Leeds
25565,10003854.0,England,Full-time,Low skilled,Paid employment is an activity,"£27,000 - £29,999",0,16,Leeds
25566,10003854.0,England,Full-time,Low skilled,Paid employment is an activity,"£30,000 - £32,999",0,16,Leeds
25567,10003854.0,England,Full-time,Low skilled,Paid employment is an activity,"£33,000 - £35,999",0,16,Leeds
25568,10003854.0,England,Full-time,Low skilled,Paid employment is an activity,"£36,000 - £38,999",0,16,Leeds
25569,10003854.0,England,Full-time,Low skilled,Paid employment is an activity,"£39,000+",0,16,Leeds
25570,10003854.0,England,Full-time,Low skilled,Paid employment is most important activity,"Less than £15,000",0,16,Leeds
25571,10003854.0,England,Full-time,Low skilled,Paid employment is most important activity,"£15,000 - £17,999",5,16,Leeds
25572,10003854.0,England,Full-time,Low skilled,Paid employment is most important activity,"£18,000 - £20,999",5,16,Leeds
25573,10003854.0,England,Full-time,Low skilled,Paid employment is most important activity,"£21,000 - £23,999",0,16,Leeds
25574,10003854.0,England,Full-time,Low skilled,Paid employment is most important activity,"£24,000 - £26,999",0,16,Leeds
25575,10003854.0,England,Full-time,Low skilled,Paid employment is most important activity,"£27,000 - £29,999",0,16,Leeds
25576,10003854.0,England,Full-time,Low skilled,Paid employment is most important activity,"£30,000 - £32,999",0,16,Leeds
25577,10003854.0,England,Full-time,Low skilled,Paid employment is most important activity,"£33,000 - £35,999",0,16,Leeds
25578,10003854.0,England,Full-time,Low skilled,Paid employment is most important activity,"£36,000 - £38,999",0,16,Leeds
25579,10003854.0,England,Full-time,Low skilled,Paid employment is most important activity,"£39,000+",0,16,Leeds
25580,10003854.0,England,Full-time,Medium skilled,Paid employment is an activity,"Less than £15,000",5,16,Leeds
25581,10003854.0,England,Full-time,Medium skilled,Paid employment is an activity,"£15,000 - £17,999",5,16,Leeds
25582,10003854.0,England,Full-time,Medium skilled,Paid employment is an activity,"£18,000 - £20,999",10,16,Leeds
25583,10003854.0,England,Full-time,Medium skilled,Paid employment is an activity,"£21,000 - £23,999",0,16,Leeds
25584,10003854.0,England,Full-time,Medium skilled,Paid employment is an activity,"£24,000 - £26,999",0,16,Leeds
25585,10003854.0,England,Full-time,Medium skilled,Paid employment is an activity,"£27,000 - £29,999",0,16,Leeds
25586,10003854.0,England,Full-time,Medium skilled,Paid employment is an activity,"£30,000 - £32,999",0,16,Leeds
25587,10003854.0,England,Full-time,Medium skilled,Paid employment is an activity,"£33,000 - £35,999",0,16,Leeds
25588,10003854.0,England,Full-time,Medium skilled,Paid employment is an activity,"£36,000 - £38,999",0,16,Leeds
25589,10003854.0,England,Full-time,Medium skilled,Paid employment is an activity,"£39,000+",0,16,Leeds
25590,10003854.0,England,Full-time,Medium skilled,Paid employment is most important activity,"Less than £15,000",5,16,Leeds
25591,10003854.0,England,Full-time,Medium skilled,Paid employment is most important activity,"£15,000 - £17,999",5,16,Leeds
25592,10003854.0,England,Full-time,Medium skilled,Paid employment is most important activity,"£18,000 - £20,999",10,16,Leeds
25593,10003854.0,England,Full-time,Medium skilled,Paid employment is most important activity,"£21,000 - £23,999",0,16,Leeds
25594,10003854.0,England,Full-time,Medium skilled,Paid employment is most important activity,"£24,000 - £26,999",0,16,Leeds
25595,10003854.0,England,Full-time,Medium skilled,Paid employment is most important activity,"£27,000 - £29,999",0,16,Leeds
25596,10003854.0,England,Full-time,Medium skilled,Paid employment is most important activity,"£30,000 - £32,999",0,16,Leeds
25597,10003854.0,England,Full-time,Medium skilled,Paid employment is most important activity,"£33,000 - £35,999",0,16,Leeds
25598,10003854.0,England,Full-time,Medium skilled,Paid employment is most important activity,"£36,000 - £38,999",0,16,Leeds
25599,10003854.0,England,Full-time,Medium skilled,Paid employment is most important activity,"£39,000+",0,16,Leeds
25600,10003854.0,All,Full-time,High skilled,Paid employment is an activity,"Less than £15,000",5,16,Leeds
25601,10003854.0,All,Full-time,High skilled,Paid employment is an activity,"£15,000 - £17,999",5,16,Leeds
25602,10003854.0,All,Full-time,High skilled,Paid employment is an activity,"£18,000 - £20,999",25,16,Leeds
25603,10003854.0,All,Full-time,High skilled,Paid employment is an activity,"£21,000 - £23,999",15,16,Leeds
25604,10003854.0,All,Full-time,High skilled,Paid employment is an activity,"£24,000 - £26,999",10,16,Leeds
25605,10003854.0,All,Full-time,High skilled,Paid employment is an activity,"£27,000 - £29,999",0,16,Leeds
25606,10003854.0,All,Full-time,High skilled,Paid employment is an activity,"£30,000 - £32,999",0,16,Leeds
25607,10003854.0,All,Full-time,High skilled,Paid employment is an activity,"£33,000 - £35,999",0,16,Leeds
25608,10003854.0,All,Full-time,High skilled,Paid employment is an activity,"£36,000 - £38,999",0,16,Leeds
25609,10003854.0,All,Full-time,High skilled,Paid employment is an activity,"£39,000+",0,16,Leeds
25610,10003854.0,All,Full-time,High skilled,Paid employment is most important activity,"Less than £15,000",5,16,Leeds
25611,10003854.0,All,Full-time,High skilled,Paid employment is most important activity,"£15,000 - £17,999",5,16,Leeds
25612,10003854.0,All,Full-time,High skilled,Paid employment is most important activity,"£18,000 - £20,999",25,16,Leeds
25613,10003854.0,All,Full-time,High skilled,Paid employment is most important activity,"£21,000 - £23,999",15,16,Leeds
25614,10003854.0,All,Full-time,High skilled,Paid employment is most important activity,"£24,000 - £26,999",10,16,Leeds
25615,10003854.0,All,Full-time,High skilled,Paid employment is most important activity,"£27,000 - £29,999",0,16,Leeds
25616,10003854.0,All,Full-time,High skilled,Paid employment is most important activity,"£30,000 - £32,999",0,16,Leeds
25617,10003854.0,All,Full-time,High skilled,Paid employment is most important activity,"£33,000 - £35,999",0,16,Leeds
25618,10003854.0,All,Full-time,High skilled,Paid employment is most important activity,"£36,000 - £38,999",0,16,Leeds
25619,10003854.0,All,Full-time,High skilled,Paid employment is most important activity,"£39,000+",0,16,Leeds
25620,10003854.0,All,Full-time,Low skilled,Paid employment is an activity,"Less than £15,000",0,16,Leeds
25621,10003854.0,All,Full-time,Low skilled,Paid employment is an activity,"£15,000 - £17,999",5,16,Leeds
25622,10003854.0,All,Full-time,Low skilled,Paid employment is an activity,"£18,000 - £20,999",5,16,Leeds
25623,10003854.0,All,Full-time,Low skilled,Paid employment is an activity,"£21,000 - £23,999",0,16,Leeds
25624,10003854.0,All,Full-time,Low skilled,Paid employment is an activity,"£24,000 - £26,999",0,16,Leeds
25625,10003854.0,All,Full-time,Low skilled,Paid employment is an activity,"£27,000 - £29,999",0,16,Leeds
25626,10003854.0,All,Full-time,Low skilled,Paid employment is an activity,"£30,000 - £32,999",0,16,Leeds
25627,10003854.0,All,Full-time,Low skilled,Paid employment is an activity,"£33,000 - £35,999",0,16,Leeds
25628,10003854.0,All,Full-time,Low skilled,Paid employment is an activity,"£36,000 - £38,999",0,16,Leeds
25629,10003854.0,All,Full-time,Low skilled,Paid employment is an activity,"£39,000+",0,16,Leeds
25630,10003854.0,All,Full-time,Low skilled,Paid employment is most important activity,"Less than £15,000",0,16,Leeds
25631,10003854.0,All,Full-time,Low skilled,Paid employment is most important activity,"£15,000 - £17,999",5,16,Leeds
25632,10003854.0,All,Full-time,Low skilled,Paid employment is most important activity,"£18,000 - £20,999",5,16,Leeds
25633,10003854.0,All,Full-time,Low skilled,Paid employment is most important activity,"£21,000 - £23,999",0,16,Leeds
25634,10003854.0,All,Full-time,Low skilled,Paid employment is most important activity,"£24,000 - £26,999",0,16,Leeds
25635,10003854.0,All,Full-time,Low skilled,Paid employment is most important activity,"£27,000 - £29,999",0,16,Leeds
25636,10003854.0,All,Full-time,Low skilled,Paid employment is most important activity,"£30,000 - £32,999",0,16,Leeds
25637,10003854.0,All,Full-time,Low skilled,Paid employment is most important activity,"£33,000 - £35,999",0,16,Leeds
25638,10003854.0,All,Full-time,Low skilled,Paid employment is most important activity,"£36,000 - £38,999",0,16,Leeds
25639,10003854.0,All,Full-time,Low skilled,Paid employment is most important activity,"£39,000+",0,16,Leeds
25640,10003854.0,All,Full-time,Medium skilled,Paid employment is an activity,"Less than £15,000",5,16,Leeds
25641,10003854.0,All,Full-time,Medium skilled,Paid employment is an activity,"£15,000 - £17,999",5,16,Leeds
25642,10003854.0,All,Full-time,Medium skilled,Paid employment is an activity,"£18,000 - £20,999",10,16,Leeds
25643,10003854.0,All,Full-time,Medium skilled,Paid employment is an activity,"£21,000 - £23,999",0,16,Leeds
25644,10003854.0,All,Full-time,Medium skilled,Paid employment is an activity,"£24,000 - £26,999",0,16,Leeds
25645,10003854.0,All,Full-time,Medium skilled,Paid employment is an activity,"£27,000 - £29,999",0,16,Leeds
25646,10003854.0,All,Full-time,Medium skilled,Paid employment is an activity,"£30,000 - £32,999",0,16,Leeds
25647,10003854.0,All,Full-time,Medium skilled,Paid employment is an activity,"£33,000 - £35,999",0,16,Leeds
25648,10003854.0,All,Full-time,Medium skilled,Paid employment is an activity,"£36,000 - £38,999",0,16,Leeds
25649,10003854.0,All,Full-time,Medium skilled,Paid employment is an activity,"£39,000+",0,16,Leeds
25650,10003854.0,All,Full-time,Medium skilled,Paid employment is most important activity,"Less than £15,000",5,16,Leeds
25651,10003854.0,All,Full-time,Medium skilled,Paid employment is most important activity,"£15,000 - £17,999",5,16,Leeds
25652,10003854.0,All,Full-time,Medium skilled,Paid employment is most important activity,"£18,000 - £20,999",10,16,Leeds
25653,10003854.0,All,Full-time,Medium skilled,Paid employment is most important activity,"£21,000 - £23,999",0,16,Leeds
25654,10003854.0,All,Full-time,Medium skilled,Paid employment is most important activity,"£24,000 - £26,999",0,16,Leeds
25655,10003854.0,All,Full-time,Medium skilled,Paid employment is most important activity,"£27,000 - £29,999",0,16,Leeds
25656,10003854.0,All,Full-time,Medium skilled,Paid employment is most important activity,"£30,000 - £32,999",0,16,Leeds
25657,10003854.0,All,Full-time,Medium skilled,Paid employment is most important activity,"£33,000 - £35,999",0,16,Leeds
25658,10003854.0,All,Full-time,Medium skilled,Paid employment is most important activity,"£36,000 - £38,999",0,16,Leeds
25659,10003854.0,All,Full-time,Medium skilled,Paid employment is most important activity,"£39,000+",0,16,Leeds
25660,10003854.0,All,All,High skilled,Paid employment is an activity,"Less than £15,000",5,16,Leeds
25661,10003854.0,All,All,High skilled,Paid employment is an activity,"£15,000 - £17,999",5,16,Leeds
25662,10003854.0,All,All,High skilled,Paid employment is an activity,"£18,000 - £20,999",25,16,Leeds
25663,10003854.0,All,All,High skilled,Paid employment is an activity,"£21,000 - £23,999",15,16,Leeds
25664,10003854.0,All,All,High skilled,Paid employment is an activity,"£24,000 - £26,999",10,16,Leeds
25665,10003854.0,All,All,High skilled,Paid employment is an activity,"£27,000 - £29,999",0,16,Leeds
25666,10003854.0,All,All,High skilled,Paid employment is an activity,"£30,000 - £32,999",0,16,Leeds
25667,10003854.0,All,All,High skilled,Paid employment is an activity,"£33,000 - £35,999",0,16,Leeds
25668,10003854.0,All,All,High skilled,Paid employment is an activity,"£36,000 - £38,999",0,16,Leeds
25669,10003854.0,All,All,High skilled,Paid employment is an activity,"£39,000+",0,16,Leeds
25670,10003854.0,All,All,High skilled,Paid employment is most important activity,"Less than £15,000",5,16,Leeds
25671,10003854.0,All,All,High skilled,Paid employment is most important activity,"£15,000 - £17,999",5,16,Leeds
25672,10003854.0,All,All,High skilled,Paid employment is most important activity,"£18,000 - £20,999",25,16,Leeds
25673,10003854.0,All,All,High skilled,Paid employment is most important activity,"£21,000 - £23,999",15,16,Leeds
25674,10003854.0,All,All,High skilled,Paid employment is most important activity,"£24,000 - £26,999",10,16,Leeds
25675,10003854.0,All,All,High skilled,Paid employment is most important activity,"£27,000 - £29,999",0,16,Leeds
25676,10003854.0,All,All,High skilled,Paid employment is most important activity,"£30,000 - £32,999",0,16,Leeds
25677,10003854.0,All,All,High skilled,Paid employment is most important activity,"£33,000 - £35,999",0,16,Leeds
25678,10003854.0,All,All,High skilled,Paid employment is most important activity,"£36,000 - £38,999",0,16,Leeds
25679,10003854.0,All,All,High skilled,Paid employment is most important activity,"£39,000+",0,16,Leeds
25680,10003854.0,All,All,Low skilled,Paid employment is an activity,"Less than £15,000",0,16,Leeds
25681,10003854.0,All,All,Low skilled,Paid employment is an activity,"£15,000 - £17,999",5,16,Leeds
25682,10003854.0,All,All,Low skilled,Paid employment is an activity,"£18,000 - £20,999",5,16,Leeds
25683,10003854.0,All,All,Low skilled,Paid employment is an activity,"£21,000 - £23,999",0,16,Leeds
25684,10003854.0,All,All,Low skilled,Paid employment is an activity,"£24,000 - £26,999",0,16,Leeds
25685,10003854.0,All,All,Low skilled,Paid employment is an activity,"£27,000 - £29,999",0,16,Leeds
25686,10003854.0,All,All,Low skilled,Paid employment is an activity,"£30,000 - £32,999",0,16,Leeds
25687,10003854.0,All,All,Low skilled,Paid employment is an activity,"£33,000 - £35,999",0,16,Leeds
25688,10003854.0,All,All,Low skilled,Paid employment is an activity,"£36,000 - £38,999",0,16,Leeds
25689,10003854.0,All,All,Low skilled,Paid employment is an activity,"£39,000+",0,16,Leeds
25690,10003854.0,All,All,Low skilled,Paid employment is most important activity,"Less than £15,000",0,16,Leeds
25691,10003854.0,All,All,Low skilled,Paid employment is most important activity,"£15,000 - £17,999",5,16,Leeds
25692,10003854.0,All,All,Low skilled,Paid employment is most important activity,"£18,000 - £20,999",5,16,Leeds
25693,10003854.0,All,All,Low skilled,Paid employment is most important activity,"£21,000 - £23,999",0,16,Leeds
25694,10003854.0,All,All,Low skilled,Paid employment is most important activity,"£24,000 - £26,999",0,16,Leeds
25695,10003854.0,All,All,Low skilled,Paid employment is most important activity,"£27,000 - £29,999",0,16,Leeds
25696,10003854.0,All,All,Low skilled,Paid employment is most important activity,"£30,000 - £32,999",0,16,Leeds
25697,10003854.0,All,All,Low skilled,Paid employment is most important activity,"£33,000 - £35,999",0,16,Leeds
25698,10003854.0,All,All,Low skilled,Paid employment is most important activity,"£36,000 - £38,999",0,16,Leeds
25699,10003854.0,All,All,Low skilled,Paid employment is most important activity,"£39,000+",0,16,Leeds
25700,10003854.0,All,All,Medium skilled,Paid employment is an activity,"Less than £15,000",5,16,Leeds
25701,10003854.0,All,All,Medium skilled,Paid employment is an activity,"£15,000 - £17,999",5,16,Leeds
25702,10003854.0,All,All,Medium skilled,Paid employment is an activity,"£18,000 - £20,999",10,16,Leeds
25703,10003854.0,All,All,Medium skilled,Paid employment is an activity,"£21,000 - £23,999",0,16,Leeds
25704,10003854.0,All,All,Medium skilled,Paid employment is an activity,"£24,000 - £26,999",0,16,Leeds
25705,10003854.0,All,All,Medium skilled,Paid employment is an activity,"£27,000 - £29,999",0,16,Leeds
25706,10003854.0,All,All,Medium skilled,Paid employment is an activity,"£30,000 - £32,999",0,16,Leeds
25707,10003854.0,All,All,Medium skilled,Paid employment is an activity,"£33,000 - £35,999",0,16,Leeds
25708,10003854.0,All,All,Medium skilled,Paid employment is an activity,"£36,000 - £38,999",0,16,Leeds
25709,10003854.0,All,All,Medium skilled,Paid employment is an activity,"£39,000+",0,16,Leeds
25710,10003854.0,All,All,Medium skilled,Paid employment is most important activity,"Less than £15,000",5,16,Leeds
25711,10003854.0,All,All,Medium skilled,Paid employment is most important activity,"£15,000 - £17,999",5,16,Leeds
25712,10003854.0,All,All,Medium skilled,Paid employment is most important activity,"£18,000 - £20,999",10,16,Leeds
25713,10003854.0,All,All,Medium skilled,Paid employment is most important activity,"£21,000 - £23,999",0,16,Leeds
25714,10003854.0,All,All,Medium skilled,Paid employment is most important activity,"£24,000 - £26,999",0,16,Leeds
25715,10003854.0,All,All,Medium skilled,Paid employment is most important activity,"£27,000 - £29,999",0,16,Leeds
25716,10003854.0,All,All,Medium skilled,Paid employment is most important activity,"£30,000 - £32,999",0,16,Leeds
25717,10003854.0,All,All,Medium skilled,Paid employment is most important activity,"£33,000 - £35,999",0,16,Leeds
25718,10003854.0,All,All,Medium skilled,Paid employment is most important activity,"£36,000 - £38,999",0,16,Leeds

Looks like the Leeds Data is wrong so we'll need to take this out and put a replacement back in. Then we can finalize the removal of the UCL duplicates and then finally get around to making the final code adjustments.

In [49]:
minus_leeds = all_institutions_out_n_ranks_2017.loc[~(all_institutions_out_n_ranks_2017['institution'] == "Leeds")].copy()

In [52]:
minus_leeds.columns

Index(['ukprn', 'provider_name', 'country_of_provider', 'mode_of_former_study',
       'skill_group', 'work_population_marker', 'salary_band', 'number',
       'rank', 'institution'],
      dtype='object')

In [53]:
institution_data.columns

Index(['ukprn', 'provider_name', 'country_of_provider', 'mode_of_former_study',
       'skill_group', 'work_population_marker', 'salary_band', 'number'],
      dtype='object')

In [54]:
just_leeds_no_ranks = institution_data.loc[institution_data['provider_name'] == "The University of Leeds"].copy()

In [57]:
just_leeds_no_ranks

,ukprn,provider_name,country_of_provider,mode_of_former_study,skill_group,work_population_marker,salary_band,number
53700,10007795.0,The University of Leeds,England,Full-time,High skilled,Paid employment is an activity,"Less than £15,000",5
53701,10007795.0,The University of Leeds,England,Full-time,High skilled,Paid employment is an activity,"£15,000 - £17,999",40
53702,10007795.0,The University of Leeds,England,Full-time,High skilled,Paid employment is an activity,"£18,000 - £20,999",180
53703,10007795.0,The University of Leeds,England,Full-time,High skilled,Paid employment is an activity,"£21,000 - £23,999",240
53704,10007795.0,The University of Leeds,England,Full-time,High skilled,Paid employment is an activity,"£24,000 - £26,999",310
53705,10007795.0,The University of Leeds,England,Full-time,High skilled,Paid employment is an activity,"£27,000 - £29,999",220
53706,10007795.0,The University of Leeds,England,Full-time,High skilled,Paid employment is an activity,"£30,000 - £32,999",200
53707,10007795.0,The University of Leeds,England,Full-time,High skilled,Paid employment is an activity,"£33,000 - £35,999",70
53708,10007795.0,The University of Leeds,England,Full-time,High skilled,Paid employment is an activity,"£36,000 - £38,999",40
53709,10007795.0,The University of Leeds,England,Full-time,High skilled,Paid employment is an activity,"£39,000+",70
53710,10007795.0,The University of Leeds,England,Full-time,High skilled,Paid employment is most important activity,"Less than £15,000",5
53711,10007795.0,The University of Leeds,England,Full-time,High skilled,Paid employment is most important activity,"£15,000 - £17,999",35
53712,10007795.0,The University of Leeds,England,Full-time,High skilled,Paid employment is most important activity,"£18,000 - £20,999",175
53713,10007795.0,The University of Leeds,England,Full-time,High skilled,Paid employment is most important activity,"£21,000 - £23,999",230
53714,10007795.0,The University of Leeds,England,Full-time,High skilled,Paid employment is most important activity,"£24,000 - £26,999",305
53715,10007795.0,The University of Leeds,England,Full-time,High skilled,Paid employment is most important activity,"£27,000 - £29,999",215
53716,10007795.0,The University of Leeds,England,Full-time,High skilled,Paid employment is most important activity,"£30,000 - £32,999",195
53717,10007795.0,The University of Leeds,England,Full-time,High skilled,Paid employment is most important activity,"£33,000 - £35,999",65
53718,10007795.0,The University of Leeds,England,Full-time,High skilled,Paid employment is most important activity,"£36,000 - £38,999",40
53719,10007795.0,The University of Leeds,England,Full-time,High skilled,Paid employment is most important activity,"£39,000+",70
53720,10007795.0,The University of Leeds,England,Full-time,Low skilled,Paid employment is an activity,"Less than £15,000",15
53721,10007795.0,The University of Leeds,England,Full-time,Low skilled,Paid employment is an activity,"£15,000 - £17,999",15
53722,10007795.0,The University of Leeds,England,Full-time,Low skilled,Paid employment is an activity,"£18,000 - £20,999",15
53723,10007795.0,The University of Leeds,England,Full-time,Low skilled,Paid employment is an activity,"£21,000 - £23,999",10
53724,10007795.0,The University of Leeds,England,Full-time,Low skilled,Paid employment is an activity,"£24,000 - £26,999",5
53725,10007795.0,The University of Leeds,England,Full-time,Low skilled,Paid employment is an activity,"£27,000 - £29,999",5
53726,10007795.0,The University of Leeds,England,Full-time,Low skilled,Paid employment is an activity,"£30,000 - £32,999",0
53727,10007795.0,The University of Leeds,England,Full-time,Low skilled,Paid employment is an activity,"£33,000 - £35,999",0
53728,10007795.0,The University of Leeds,England,Full-time,Low skilled,Paid employment is an activity,"£36,000 - £38,999",0
53729,10007795.0,The University of Leeds,England,Full-time,Low skilled,Paid employment is an activity,"£39,000+",0
53730,10007795.0,The University of Leeds,England,Full-time,Low skilled,Paid employment is most important activity,"Less than £15,000",15
53731,10007795.0,The University of Leeds,England,Full-time,Low skilled,Paid employment is most important activity,"£15,000 - £17,999",15
53732,10007795.0,The University of Leeds,England,Full-time,Low skilled,Paid employment is most important activity,"£18,000 - £20,999",15
53733,10007795.0,The University of Leeds,England,Full-time,Low skilled,Paid employment is most important activity,"£21,000 - £23,999",10
53734,10007795.0,The University of Leeds,England,Full-time,Low skilled,Paid employment is most important activity,"£24,000 - £26,999",5
53735,10007795.0,The University of Leeds,England,Full-time,Low skilled,Paid employment is most important activity,"£27,000 - £29,999",5
53736,10007795.0,The University of Leeds,England,Full-time,Low skilled,Paid employment is most important activity,"£30,000 - £32,999",0
53737,10007795.0,The University of Leeds,England,Full-time,Low skilled,Paid employment is most important activity,"£33,000 - £35,999",0
53738,10007795.0,The University of Leeds,England,Full-time,Low skilled,Paid employment is most important activity,"£36,000 - £38,999",0
53739,10007795.0,The University of Leeds,England,Full-time,Low skilled,Paid employment is most important activity,"£39,000+",0
53740,10007795.0,The University of Leeds,England,Full-time,Medium skilled,Paid employment is an activity,"Less than £15,000",15
53741,10007795.0,The University of Leeds,England,Full-time,Medium skilled,Paid employment is an activity,"£15,000 - £17,999",30
53742,10007795.0,The University of Leeds,England,Full-time,Medium skilled,Paid employment is an activity,"£18,000 - £20,999",60
53743,10007795.0,The University of Leeds,England,Full-time,Medium skilled,Paid employment is an activity,"£21,000 - £23,999",30
53744,10007795.0,The University of Leeds,England,Full-time,Medium skilled,Paid employment is an activity,"£24,000 - £26,999",25
53745,10007795.0,The University of Leeds,England,Full-time,Medium skilled,Paid employment is an activity,"£27,000 - £29,999",5
53746,10007795.0,The University of Leeds,England,Full-time,Medium skilled,Paid employment is an activity,"£30,000 - £32,999",0
53747,10007795.0,The University of Leeds,England,Full-time,Medium skilled,Paid employment is an activity,"£33,000 - £35,999",0
53748,10007795.0,The University of Leeds,England,Full-time,Medium skilled,Paid employment is an activity,"£36,000 - £38,999",0
53749,10007795.0,The University of Leeds,England,Full-time,Medium skilled,Paid employment is an activity,"£39,000+",0
53750,10007795.0,The University of Leeds,England,Full-time,Medium skilled,Paid employment is most important activity,"Less than £15,000",10
53751,10007795.0,The University of Leeds,England,Full-time,Medium skilled,Paid employment is most important activity,"£15,000 - £17,999",30
53752,10007795.0,The University of Leeds,England,Full-time,Medium skilled,Paid employment is most important activity,"£18,000 - £20,999",60
53753,10007795.0,The University of Leeds,England,Full-time,Medium skilled,Paid employment is most important activity,"£21,000 - £23,999",30
53754,10007795.0,The University of Leeds,England,Full-time,Medium skilled,Paid employment is most important activity,"£24,000 - £26,999",25
53755,10007795.0,The University of Leeds,England,Full-time,Medium skilled,Paid employment is most important activity,"£27,000 - £29,999",5
53756,10007795.0,The University of Leeds,England,Full-time,Medium skilled,Paid employment is most important activity,"£30,000 - £32,999",0
53757,10007795.0,The University of Leeds,England,Full-time,Medium skilled,Paid employment is most important activity,"£33,000 - £35,999",0
53758,10007795.0,The University of Leeds,England,Full-time,Medium skilled,Paid employment is most important activity,"£36,000 - £38,999",0
53759,10007795.0,The University of Leeds,England,Full-time,Medium skilled,Paid employment is most important activity,"£39,000+",0
53760,10007795.0,The University of Leeds,England,Part-time,High skilled,Paid employment is an activity,"Less than £15,000",0
53761,10007795.0,The University of Leeds,England,Part-time,High skilled,Paid employment is an activity,"£15,000 - £17,999",0
53762,10007795.0,The University of Leeds,England,Part-time,High skilled,Paid employment is an activity,"£18,000 - £20,999",0
53763,10007795.0,The University of Leeds,England,Part-time,High skilled,Paid employment is an activity,"£21,000 - £23,999",0
53764,10007795.0,The University of Leeds,England,Part-time,High skilled,Paid employment is an activity,"£24,000 - £26,999",5
53765,10007795.0,The University of Leeds,England,Part-time,High skilled,Paid employment is an activity,"£27,000 - £29,999",0
53766,10007795.0,The University of Leeds,England,Part-time,High skilled,Paid employment is an activity,"£30,000 - £32,999",0
53767,10007795.0,The University of Leeds,England,Part-time,High skilled,Paid employment is an activity,"£33,000 - £35,999",0
53768,10007795.0,The University of Leeds,England,Part-time,High skilled,Paid employment is an activity,"£36,000 - £38,999",0
53769,10007795.0,The University of Leeds,England,Part-time,High skilled,Paid employment is an activity,"£39,000+",0
53770,10007795.0,The University of Leeds,England,Part-time,High skilled,Paid employment is most important activity,"Less than £15,000",0
53771,10007795.0,The University of Leeds,England,Part-time,High skilled,Paid employment is most important activity,"£15,000 - £17,999",0
53772,10007795.0,The University of Leeds,England,Part-time,High skilled,Paid employment is most important activity,"£18,000 - £20,999",0
53773,10007795.0,The University of Leeds,England,Part-time,High skilled,Paid employment is most important activity,"£21,000 - £23,999",0
53774,10007795.0,The University of Leeds,England,Part-time,High skilled,Paid employment is most important activity,"£24,000 - £26,999",5
53775,10007795.0,The University of Leeds,England,Part-time,High skilled,Paid employment is most important activity,"£27,000 - £29,999",0
53776,10007795.0,The University of Leeds,England,Part-time,High skilled,Paid employment is most important activity,"£30,000 - £32,999",0
53777,10007795.0,The University of Leeds,England,Part-time,High skilled,Paid employment is most important activity,"£33,000 - £35,999",0
53778,10007795.0,The University of Leeds,England,Part-time,High skilled,Paid employment is most important activity,"£36,000 - £38,999",0
53779,10007795.0,The University of Leeds,England,Part-time,High skilled,Paid employment is most important activity,"£39,000+",0
53780,10007795.0,The University of Leeds,England,Part-time,Medium skilled,Paid employment is an activity,"Less than £15,000",0
53781,10007795.0,The University of Leeds,England,Part-time,Medium skilled,Paid employment is an activity,"£15,000 - £17,999",0
53782,10007795.0,The University of Leeds,England,Part-time,Medium skilled,Paid employment is an activity,"£18,000 - £20,999",0
53783,10007795.0,The University of Leeds,England,Part-time,Medium skilled,Paid employment is an activity,"£21,000 - £23,999",0
53784,10007795.0,The University of Leeds,England,Part-time,Medium skilled,Paid employment is an activity,"£24,000 - £26,999",0
53785,10007795.0,The University of Leeds,England,Part-time,Medium skilled,Paid employment is an activity,"£27,000 - £29,999",0
53786,10007795.0,The University of Leeds,England,Part-time,Medium skilled,Paid employment is an activity,"£30,000 - £32,999",0
53787,10007795.0,The University of Leeds,England,Part-time,Medium skilled,Paid employment is an activity,"£33,000 - £35,999",0
53788,10007795.0,The University of Leeds,England,Part-time,Medium skilled,Paid employment is an activity,"£36,000 - £38,999",0
53789,10007795.0,The University of Leeds,England,Part-time,Medium skilled,Paid employment is an activity,"£39,000+",0
53790,10007795.0,The University of Leeds,England,Part-time,Medium skilled,Paid employment is most important activity,"Less than £15,000",0
53791,10007795.0,The University of Leeds,England,Part-time,Medium skilled,Paid employment is most important activity,"£15,000 - £17,999",0
53792,10007795.0,The University of Leeds,England,Part-time,Medium skilled,Paid employment is most important activity,"£18,000 - £20,999",0
53793,10007795.0,The University of Leeds,England,Part-time,Medium skilled,Paid employment is most important activity,"£21,000 - £23,999",0
53794,10007795.0,The University of Leeds,England,Part-time,Medium skilled,Paid employment is most important activity,"£24,000 - £26,999",0
53795,10007795.0,The University of Leeds,England,Part-time,Medium skilled,Paid employment is most important activity,"£27,000 - £29,999",0
53796,10007795.0,The University of Leeds,England,Part-time,Medium skilled,Paid employment is most important activity,"£30,000 - £32,999",0
53797,10007795.0,The University of Leeds,England,Part-time,Medium skilled,Paid employment is most important activity,"£33,000 - £35,999",0
53798,10007795.0,The University of Leeds,England,Part-time,Medium skilled,Paid employment is most important activity,"£36,000 - £38,999",0
53799,10007795.0,The University of Leeds,England,Part-time,Medium skilled,Paid employment is most important activity,"£39,000+",0
53800,10007795.0,The University of Leeds,All,Full-time,High skilled,Paid employment is an activity,"Less than £15,000",5
53801,10007795.0,The University of Leeds,All,Full-time,High skilled,Paid employment is an activity,"£15,000 - £17,999",40
53802,10007795.0,The University of Leeds,All,Full-time,High skilled,Paid employment is an activity,"£18,000 - £20,999",180
53803,10007795.0,The University of Leeds,All,Full-time,High skilled,Paid employment is an activity,"£21,000 - £23,999",240
53804,10007795.0,The University of Leeds,All,Full-time,High skilled,Paid employment is an activity,"£24,000 - £26,999",310
53805,10007795.0,The University of Leeds,All,Full-time,High skilled,Paid employment is an activity,"£27,000 - £29,999",220
53806,10007795.0,The University of Leeds,All,Full-time,High skilled,Paid employment is an activity,"£30,000 - £32,999",200
53807,10007795.0,The University of Leeds,All,Full-time,High skilled,Paid employment is an activity,"£33,000 - £35,999",70
53808,10007795.0,The University of Leeds,All,Full-time,High skilled,Paid employment is an activity,"£36,000 - £38,999",40
53809,10007795.0,The University of Leeds,All,Full-time,High skilled,Paid employment is an activity,"£39,000+",70
53810,10007795.0,The University of Leeds,All,Full-time,High skilled,Paid employment is most important activity,"Less than £15,000",5
53811,10007795.0,The University of Leeds,All,Full-time,High skilled,Paid employment is most important activity,"£15,000 - £17,999",35
53812,10007795.0,The University of Leeds,All,Full-time,High skilled,Paid employment is most important activity,"£18,000 - £20,999",175
53813,10007795.0,The University of Leeds,All,Full-time,High skilled,Paid employment is most important activity,"£21,000 - £23,999",230
53814,10007795.0,The University of Leeds,All,Full-time,High skilled,Paid employment is most important activity,"£24,000 - £26,999",305
53815,10007795.0,The University of Leeds,All,Full-time,High skilled,Paid employment is most important activity,"£27,000 - £29,999",215
53816,10007795.0,The University of Leeds,All,Full-time,High skilled,Paid employment is most important activity,"£30,000 - £32,999",195
53817,10007795.0,The University of Leeds,All,Full-time,High skilled,Paid employment is most important activity,"£33,000 - £35,999",65
53818,10007795.0,The University of Leeds,All,Full-time,High skilled,Paid employment is most important activity,"£36,000 - £38,999",40
53819,10007795.0,The University of Leeds,All,Full-time,High skilled,Paid employment is most important activity,"£39,000+",70
53820,10007795.0,The University of Leeds,All,Full-time,Low skilled,Paid employment is an activity,"Less than £15,000",15
53821,10007795.0,The University of Leeds,All,Full-time,Low skilled,Paid employment is an activity,"£15,000 - £17,999",15
53822,10007795.0,The University of Leeds,All,Full-time,Low skilled,Paid employment is an activity,"£18,000 - £20,999",15
53823,10007795.0,The University of Leeds,All,Full-time,Low skilled,Paid employment is an activity,"£21,000 - £23,999",10
53824,10007795.0,The University of Leeds,All,Full-time,Low skilled,Paid employment is an activity,"£24,000 - £26,999",5
53825,10007795.0,The University of Leeds,All,Full-time,Low skilled,Paid employment is an activity,"£27,000 - £29,999",5
53826,10007795.0,The University of Leeds,All,Full-time,Low skilled,Paid employment is an activity,"£30,000 - £32,999",0
53827,10007795.0,The University of Leeds,All,Full-time,Low skilled,Paid employment is an activity,"£33,000 - £35,999",0
53828,10007795.0,The University of Leeds,All,Full-time,Low skilled,Paid employment is an activity,"£36,000 - £38,999",0
53829,10007795.0,The University of Leeds,All,Full-time,Low skilled,Paid employment is an activity,"£39,000+",0
53830,10007795.0,The University of Leeds,All,Full-time,Low skilled,Paid employment is most important activity,"Less than £15,000",15
53831,10007795.0,The University of Leeds,All,Full-time,Low skilled,Paid employment is most important activity,"£15,000 - £17,999",15
53832,10007795.0,The University of Leeds,All,Full-time,Low skilled,Paid employment is most important activity,"£18,000 - £20,999",15
53833,10007795.0,The University of Leeds,All,Full-time,Low skilled,Paid employment is most important activity,"£21,000 - £23,999",10
53834,10007795.0,The University of Leeds,All,Full-time,Low skilled,Paid employment is most important activity,"£24,000 - £26,999",5
53835,10007795.0,The University of Leeds,All,Full-time,Low skilled,Paid employment is most important activity,"£27,000 - £29,999",5
53836,10007795.0,The University of Leeds,All,Full-time,Low skilled,Paid employment is most important activity,"£30,000 - £32,999",0
53837,10007795.0,The University of Leeds,All,Full-time,Low skilled,Paid employment is most important activity,"£33,000 - £35,999",0
53838,10007795.0,The University of Leeds,All,Full-time,Low skilled,Paid employment is most important activity,"£36,000 - £38,999",0
53839,10007795.0,The University of Leeds,All,Full-time,Low skilled,Paid employment is most important activity,"£39,000+",0
53840,10007795.0,The University of Leeds,All,Full-time,Medium skilled,Paid employment is an activity,"Less than £15,000",15
53841,10007795.0,The University of Leeds,All,Full-time,Medium skilled,Paid employment is an activity,"£15,000 - £17,999",30
53842,10007795.0,The University of Leeds,All,Full-time,Medium skilled,Paid employment is an activity,"£18,000 - £20,999",60
53843,10007795.0,The University of Leeds,All,Full-time,Medium skilled,Paid employment is an activity,"£21,000 - £23,999",30
53844,10007795.0,The University of Leeds,All,Full-time,Medium skilled,Paid employment is an activity,"£24,000 - £26,999",25
53845,10007795.0,The University of Leeds,All,Full-time,Medium skilled,Paid employment is an activity,"£27,000 - £29,999",5
53846,10007795.0,The University of Leeds,All,Full-time,Medium skilled,Paid employment is an activity,"£30,000 - £32,999",0
53847,10007795.0,The University of Leeds,All,Full-time,Medium skilled,Paid employment is an activity,"£33,000 - £35,999",0
53848,10007795.0,The University of Leeds,All,Full-time,Medium skilled,Paid employment is an activity,"£36,000 - £38,999",0
53849,10007795.0,The University of Leeds,All,Full-time,Medium skilled,Paid employment is an activity,"£39,000+",0
53850,10007795.0,The University of Leeds,All,Full-time,Medium skilled,Paid employment is most important activity,"Less than £15,000",10
53851,10007795.0,The University of Leeds,All,Full-time,Medium skilled,Paid employment is most important activity,"£15,000 - £17,999",30
53852,10007795.0,The University of Leeds,All,Full-time,Medium skilled,Paid employment is most important activity,"£18,000 - £20,999",60

In [61]:
just_leeds_no_ranks['rank'] = 16

just_leeds_no_ranks['institution'] = 'Leeds'

just_leeds_no_ranks

,ukprn,provider_name,country_of_provider,mode_of_former_study,skill_group,work_population_marker,salary_band,number,rank,institution
53700,10007795.0,The University of Leeds,England,Full-time,High skilled,Paid employment is an activity,"Less than £15,000",5,16,Leeds
53701,10007795.0,The University of Leeds,England,Full-time,High skilled,Paid employment is an activity,"£15,000 - £17,999",40,16,Leeds
53702,10007795.0,The University of Leeds,England,Full-time,High skilled,Paid employment is an activity,"£18,000 - £20,999",180,16,Leeds
53703,10007795.0,The University of Leeds,England,Full-time,High skilled,Paid employment is an activity,"£21,000 - £23,999",240,16,Leeds
53704,10007795.0,The University of Leeds,England,Full-time,High skilled,Paid employment is an activity,"£24,000 - £26,999",310,16,Leeds
53705,10007795.0,The University of Leeds,England,Full-time,High skilled,Paid employment is an activity,"£27,000 - £29,999",220,16,Leeds
53706,10007795.0,The University of Leeds,England,Full-time,High skilled,Paid employment is an activity,"£30,000 - £32,999",200,16,Leeds
53707,10007795.0,The University of Leeds,England,Full-time,High skilled,Paid employment is an activity,"£33,000 - £35,999",70,16,Leeds
53708,10007795.0,The University of Leeds,England,Full-time,High skilled,Paid employment is an activity,"£36,000 - £38,999",40,16,Leeds
53709,10007795.0,The University of Leeds,England,Full-time,High skilled,Paid employment is an activity,"£39,000+",70,16,Leeds
53710,10007795.0,The University of Leeds,England,Full-time,High skilled,Paid employment is most important activity,"Less than £15,000",5,16,Leeds
53711,10007795.0,The University of Leeds,England,Full-time,High skilled,Paid employment is most important activity,"£15,000 - £17,999",35,16,Leeds
53712,10007795.0,The University of Leeds,England,Full-time,High skilled,Paid employment is most important activity,"£18,000 - £20,999",175,16,Leeds
53713,10007795.0,The University of Leeds,England,Full-time,High skilled,Paid employment is most important activity,"£21,000 - £23,999",230,16,Leeds
53714,10007795.0,The University of Leeds,England,Full-time,High skilled,Paid employment is most important activity,"£24,000 - £26,999",305,16,Leeds
53715,10007795.0,The University of Leeds,England,Full-time,High skilled,Paid employment is most important activity,"£27,000 - £29,999",215,16,Leeds
53716,10007795.0,The University of Leeds,England,Full-time,High skilled,Paid employment is most important activity,"£30,000 - £32,999",195,16,Leeds
53717,10007795.0,The University of Leeds,England,Full-time,High skilled,Paid employment is most important activity,"£33,000 - £35,999",65,16,Leeds
53718,10007795.0,The University of Leeds,England,Full-time,High skilled,Paid employment is most important activity,"£36,000 - £38,999",40,16,Leeds
53719,10007795.0,The University of Leeds,England,Full-time,High skilled,Paid employment is most important activity,"£39,000+",70,16,Leeds
53720,10007795.0,The University of Leeds,England,Full-time,Low skilled,Paid employment is an activity,"Less than £15,000",15,16,Leeds
53721,10007795.0,The University of Leeds,England,Full-time,Low skilled,Paid employment is an activity,"£15,000 - £17,999",15,16,Leeds
53722,10007795.0,The University of Leeds,England,Full-time,Low skilled,Paid employment is an activity,"£18,000 - £20,999",15,16,Leeds
53723,10007795.0,The University of Leeds,England,Full-time,Low skilled,Paid employment is an activity,"£21,000 - £23,999",10,16,Leeds
53724,10007795.0,The University of Leeds,England,Full-time,Low skilled,Paid employment is an activity,"£24,000 - £26,999",5,16,Leeds
53725,10007795.0,The University of Leeds,England,Full-time,Low skilled,Paid employment is an activity,"£27,000 - £29,999",5,16,Leeds
53726,10007795.0,The University of Leeds,England,Full-time,Low skilled,Paid employment is an activity,"£30,000 - £32,999",0,16,Leeds
53727,10007795.0,The University of Leeds,England,Full-time,Low skilled,Paid employment is an activity,"£33,000 - £35,999",0,16,Leeds
53728,10007795.0,The University of Leeds,England,Full-time,Low skilled,Paid employment is an activity,"£36,000 - £38,999",0,16,Leeds
53729,10007795.0,The University of Leeds,England,Full-time,Low skilled,Paid employment is an activity,"£39,000+",0,16,Leeds
53730,10007795.0,The University of Leeds,England,Full-time,Low skilled,Paid employment is most important activity,"Less than £15,000",15,16,Leeds
53731,10007795.0,The University of Leeds,England,Full-time,Low skilled,Paid employment is most important activity,"£15,000 - £17,999",15,16,Leeds
53732,10007795.0,The University of Leeds,England,Full-time,Low skilled,Paid employment is most important activity,"£18,000 - £20,999",15,16,Leeds
53733,10007795.0,The University of Leeds,England,Full-time,Low skilled,Paid employment is most important activity,"£21,000 - £23,999",10,16,Leeds
53734,10007795.0,The University of Leeds,England,Full-time,Low skilled,Paid employment is most important activity,"£24,000 - £26,999",5,16,Leeds
53735,10007795.0,The University of Leeds,England,Full-time,Low skilled,Paid employment is most important activity,"£27,000 - £29,999",5,16,Leeds
53736,10007795.0,The University of Leeds,England,Full-time,Low skilled,Paid employment is most important activity,"£30,000 - £32,999",0,16,Leeds
53737,10007795.0,The University of Leeds,England,Full-time,Low skilled,Paid employment is most important activity,"£33,000 - £35,999",0,16,Leeds
53738,10007795.0,The University of Leeds,England,Full-time,Low skilled,Paid employment is most important activity,"£36,000 - £38,999",0,16,Leeds
53739,10007795.0,The University of Leeds,England,Full-time,Low skilled,Paid employment is most important activity,"£39,000+",0,16,Leeds
53740,10007795.0,The University of Leeds,England,Full-time,Medium skilled,Paid employment is an activity,"Less than £15,000",15,16,Leeds
53741,10007795.0,The University of Leeds,England,Full-time,Medium skilled,Paid employment is an activity,"£15,000 - £17,999",30,16,Leeds
53742,10007795.0,The University of Leeds,England,Full-time,Medium skilled,Paid employment is an activity,"£18,000 - £20,999",60,16,Leeds
53743,10007795.0,The University of Leeds,England,Full-time,Medium skilled,Paid employment is an activity,"£21,000 - £23,999",30,16,Leeds
53744,10007795.0,The University of Leeds,England,Full-time,Medium skilled,Paid employment is an activity,"£24,000 - £26,999",25,16,Leeds
53745,10007795.0,The University of Leeds,England,Full-time,Medium skilled,Paid employment is an activity,"£27,000 - £29,999",5,16,Leeds
53746,10007795.0,The University of Leeds,England,Full-time,Medium skilled,Paid employment is an activity,"£30,000 - £32,999",0,16,Leeds
53747,10007795.0,The University of Leeds,England,Full-time,Medium skilled,Paid employment is an activity,"£33,000 - £35,999",0,16,Leeds
53748,10007795.0,The University of Leeds,England,Full-time,Medium skilled,Paid employment is an activity,"£36,000 - £38,999",0,16,Leeds
53749,10007795.0,The University of Leeds,England,Full-time,Medium skilled,Paid employment is an activity,"£39,000+",0,16,Leeds
53750,10007795.0,The University of Leeds,England,Full-time,Medium skilled,Paid employment is most important activity,"Less than £15,000",10,16,Leeds
53751,10007795.0,The University of Leeds,England,Full-time,Medium skilled,Paid employment is most important activity,"£15,000 - £17,999",30,16,Leeds
53752,10007795.0,The University of Leeds,England,Full-time,Medium skilled,Paid employment is most important activity,"£18,000 - £20,999",60,16,Leeds
53753,10007795.0,The University of Leeds,England,Full-time,Medium skilled,Paid employment is most important activity,"£21,000 - £23,999",30,16,Leeds
53754,10007795.0,The University of Leeds,England,Full-time,Medium skilled,Paid employment is most important activity,"£24,000 - £26,999",25,16,Leeds
53755,10007795.0,The University of Leeds,England,Full-time,Medium skilled,Paid employment is most important activity,"£27,000 - £29,999",5,16,Leeds
53756,10007795.0,The University of Leeds,England,Full-time,Medium skilled,Paid employment is most important activity,"£30,000 - £32,999",0,16,Leeds
53757,10007795.0,The University of Leeds,England,Full-time,Medium skilled,Paid employment is most important activity,"£33,000 - £35,999",0,16,Leeds
53758,10007795.0,The University of Leeds,England,Full-time,Medium skilled,Paid employment is most important activity,"£36,000 - £38,999",0,16,Leeds
53759,10007795.0,The University of Leeds,England,Full-time,Medium skilled,Paid employment is most important activity,"£39,000+",0,16,Leeds
53760,10007795.0,The University of Leeds,England,Part-time,High skilled,Paid employment is an activity,"Less than £15,000",0,16,Leeds
53761,10007795.0,The University of Leeds,England,Part-time,High skilled,Paid employment is an activity,"£15,000 - £17,999",0,16,Leeds
53762,10007795.0,The University of Leeds,England,Part-time,High skilled,Paid employment is an activity,"£18,000 - £20,999",0,16,Leeds
53763,10007795.0,The University of Leeds,England,Part-time,High skilled,Paid employment is an activity,"£21,000 - £23,999",0,16,Leeds
53764,10007795.0,The University of Leeds,England,Part-time,High skilled,Paid employment is an activity,"£24,000 - £26,999",5,16,Leeds
53765,10007795.0,The University of Leeds,England,Part-time,High skilled,Paid employment is an activity,"£27,000 - £29,999",0,16,Leeds
53766,10007795.0,The University of Leeds,England,Part-time,High skilled,Paid employment is an activity,"£30,000 - £32,999",0,16,Leeds
53767,10007795.0,The University of Leeds,England,Part-time,High skilled,Paid employment is an activity,"£33,000 - £35,999",0,16,Leeds
53768,10007795.0,The University of Leeds,England,Part-time,High skilled,Paid employment is an activity,"£36,000 - £38,999",0,16,Leeds
53769,10007795.0,The University of Leeds,England,Part-time,High skilled,Paid employment is an activity,"£39,000+",0,16,Leeds
53770,10007795.0,The University of Leeds,England,Part-time,High skilled,Paid employment is most important activity,"Less than £15,000",0,16,Leeds
53771,10007795.0,The University of Leeds,England,Part-time,High skilled,Paid employment is most important activity,"£15,000 - £17,999",0,16,Leeds
53772,10007795.0,The University of Leeds,England,Part-time,High skilled,Paid employment is most important activity,"£18,000 - £20,999",0,16,Leeds
53773,10007795.0,The University of Leeds,England,Part-time,High skilled,Paid employment is most important activity,"£21,000 - £23,999",0,16,Leeds
53774,10007795.0,The University of Leeds,England,Part-time,High skilled,Paid employment is most important activity,"£24,000 - £26,999",5,16,Leeds
53775,10007795.0,The University of Leeds,England,Part-time,High skilled,Paid employment is most important activity,"£27,000 - £29,999",0,16,Leeds
53776,10007795.0,The University of Leeds,England,Part-time,High skilled,Paid employment is most important activity,"£30,000 - £32,999",0,16,Leeds
53777,10007795.0,The University of Leeds,England,Part-time,High skilled,Paid employment is most important activity,"£33,000 - £35,999",0,16,Leeds
53778,10007795.0,The University of Leeds,England,Part-time,High skilled,Paid employment is most important activity,"£36,000 - £38,999",0,16,Leeds
53779,10007795.0,The University of Leeds,England,Part-time,High skilled,Paid employment is most important activity,"£39,000+",0,16,Leeds
53780,10007795.0,The University of Leeds,England,Part-time,Medium skilled,Paid employment is an activity,"Less than £15,000",0,16,Leeds
53781,10007795.0,The University of Leeds,England,Part-time,Medium skilled,Paid employment is an activity,"£15,000 - £17,999",0,16,Leeds
53782,10007795.0,The University of Leeds,England,Part-time,Medium skilled,Paid employment is an activity,"£18,000 - £20,999",0,16,Leeds
53783,10007795.0,The University of Leeds,England,Part-time,Medium skilled,Paid employment is an activity,"£21,000 - £23,999",0,16,Leeds
53784,10007795.0,The University of Leeds,England,Part-time,Medium skilled,Paid employment is an activity,"£24,000 - £26,999",0,16,Leeds
53785,10007795.0,The University of Leeds,England,Part-time,Medium skilled,Paid employment is an activity,"£27,000 - £29,999",0,16,Leeds
53786,10007795.0,The University of Leeds,England,Part-time,Medium skilled,Paid employment is an activity,"£30,000 - £32,999",0,16,Leeds
53787,10007795.0,The University of Leeds,England,Part-time,Medium skilled,Paid employment is an activity,"£33,000 - £35,999",0,16,Leeds
53788,10007795.0,The University of Leeds,England,Part-time,Medium skilled,Paid employment is an activity,"£36,000 - £38,999",0,16,Leeds
53789,10007795.0,The University of Leeds,England,Part-time,Medium skilled,Paid employment is an activity,"£39,000+",0,16,Leeds
53790,10007795.0,The University of Leeds,England,Part-time,Medium skilled,Paid employment is most important activity,"Less than £15,000",0,16,Leeds
53791,10007795.0,The University of Leeds,England,Part-time,Medium skilled,Paid employment is most important activity,"£15,000 - £17,999",0,16,Leeds
53792,10007795.0,The University of Leeds,England,Part-time,Medium skilled,Paid employment is most important activity,"£18,000 - £20,999",0,16,Leeds
53793,10007795.0,The University of Leeds,England,Part-time,Medium skilled,Paid employment is most important activity,"£21,000 - £23,999",0,16,Leeds
53794,10007795.0,The University of Leeds,England,Part-time,Medium skilled,Paid employment is most important activity,"£24,000 - £26,999",0,16,Leeds
53795,10007795.0,The University of Leeds,England,Part-time,Medium skilled,Paid employment is most important activity,"£27,000 - £29,999",0,16,Leeds
53796,10007795.0,The University of Leeds,England,Part-time,Medium skilled,Paid employment is most important activity,"£30,000 - £32,999",0,16,Leeds
53797,10007795.0,The University of Leeds,England,Part-time,Medium skilled,Paid employment is most important activity,"£33,000 - £35,999",0,16,Leeds
53798,10007795.0,The University of Leeds,England,Part-time,Medium skilled,Paid employment is most important activity,"£36,000 - £38,999",0,16,Leeds
53799,10007795.0,The University of Leeds,England,Part-time,Medium skilled,Paid employment is most important activity,"£39,000+",0,16,Leeds
53800,10007795.0,The University of Leeds,All,Full-time,High skilled,Paid employment is an activity,"Less than £15,000",5,16,Leeds
53801,10007795.0,The University of Leeds,All,Full-time,High skilled,Paid employment is an activity,"£15,000 - £17,999",40,16,Leeds
53802,10007795.0,The University of Leeds,All,Full-time,High skilled,Paid employment is an activity,"£18,000 - £20,999",180,16,Leeds
53803,10007795.0,The University of Leeds,All,Full-time,High skilled,Paid employment is an activity,"£21,000 - £23,999",240,16,Leeds
53804,10007795.0,The University of Leeds,All,Full-time,High skilled,Paid employment is an activity,"£24,000 - £26,999",310,16,Leeds
53805,10007795.0,The University of Leeds,All,Full-time,High skilled,Paid employment is an activity,"£27,000 - £29,999",220,16,Leeds
53806,10007795.0,The University of Leeds,All,Full-time,High skilled,Paid employment is an activity,"£30,000 - £32,999",200,16,Leeds
53807,10007795.0,The University of Leeds,All,Full-time,High skilled,Paid employment is an activity,"£33,000 - £35,999",70,16,Leeds
53808,10007795.0,The University of Leeds,All,Full-time,High skilled,Paid employment is an activity,"£36,000 - £38,999",40,16,Leeds
53809,10007795.0,The University of Leeds,All,Full-time,High skilled,Paid employment is an activity,"£39,000+",70,16,Leeds
53810,10007795.0,The University of Leeds,All,Full-time,High skilled,Paid employment is most important activity,"Less than £15,000",5,16,Leeds
53811,10007795.0,The University of Leeds,All,Full-time,High skilled,Paid employment is most important activity,"£15,000 - £17,999",35,16,Leeds
53812,10007795.0,The University of Leeds,All,Full-time,High skilled,Paid employment is most important activity,"£18,000 - £20,999",175,16,Leeds
53813,10007795.0,The University of Leeds,All,Full-time,High skilled,Paid employment is most important activity,"£21,000 - £23,999",230,16,Leeds
53814,10007795.0,The University of Leeds,All,Full-time,High skilled,Paid employment is most important activity,"£24,000 - £26,999",305,16,Leeds
53815,10007795.0,The University of Leeds,All,Full-time,High skilled,Paid employment is most important activity,"£27,000 - £29,999",215,16,Leeds
53816,10007795.0,The University of Leeds,All,Full-time,High skilled,Paid employment is most important activity,"£30,000 - £32,999",195,16,Leeds
53817,10007795.0,The University of Leeds,All,Full-time,High skilled,Paid employment is most important activity,"£33,000 - £35,999",65,16,Leeds
53818,10007795.0,The University of Leeds,All,Full-time,High skilled,Paid employment is most important activity,"£36,000 - £38,999",40,16,Leeds
53819,10007795.0,The University of Leeds,All,Full-time,High skilled,Paid employment is most important activity,"£39,000+",70,16,Leeds
53820,10007795.0,The University of Leeds,All,Full-time,Low skilled,Paid employment is an activity,"Less than £15,000",15,16,Leeds
53821,10007795.0,The University of Leeds,All,Full-time,Low skilled,Paid employment is an activity,"£15,000 - £17,999",15,16,Leeds
53822,10007795.0,The University of Leeds,All,Full-time,Low skilled,Paid employment is an activity,"£18,000 - £20,999",15,16,Leeds
53823,10007795.0,The University of Leeds,All,Full-time,Low skilled,Paid employment is an activity,"£21,000 - £23,999",10,16,Leeds
53824,10007795.0,The University of Leeds,All,Full-time,Low skilled,Paid employment is an activity,"£24,000 - £26,999",5,16,Leeds
53825,10007795.0,The University of Leeds,All,Full-time,Low skilled,Paid employment is an activity,"£27,000 - £29,999",5,16,Leeds
53826,10007795.0,The University of Leeds,All,Full-time,Low skilled,Paid employment is an activity,"£30,000 - £32,999",0,16,Leeds
53827,10007795.0,The University of Leeds,All,Full-time,Low skilled,Paid employment is an activity,"£33,000 - £35,999",0,16,Leeds
53828,10007795.0,The University of Leeds,All,Full-time,Low skilled,Paid employment is an activity,"£36,000 - £38,999",0,16,Leeds
53829,10007795.0,The University of Leeds,All,Full-time,Low skilled,Paid employment is an activity,"£39,000+",0,16,Leeds
53830,10007795.0,The University of Leeds,All,Full-time,Low skilled,Paid employment is most important activity,"Less than £15,000",15,16,Leeds
53831,10007795.0,The University of Leeds,All,Full-time,Low skilled,Paid employment is most important activity,"£15,000 - £17,999",15,16,Leeds
53832,10007795.0,The University of Leeds,All,Full-time,Low skilled,Paid employment is most important activity,"£18,000 - £20,999",15,16,Leeds
53833,10007795.0,The University of Leeds,All,Full-time,Low skilled,Paid employment is most important activity,"£21,000 - £23,999",10,16,Leeds
53834,10007795.0,The University of Leeds,All,Full-time,Low skilled,Paid employment is most important activity,"£24,000 - £26,999",5,16,Leeds
53835,10007795.0,The University of Leeds,All,Full-time,Low skilled,Paid employment is most important activity,"£27,000 - £29,999",5,16,Leeds
53836,10007795.0,The University of Leeds,All,Full-time,Low skilled,Paid employment is most important activity,"£30,000 - £32,999",0,16,Leeds
53837,10007795.0,The University of Leeds,All,Full-time,Low skilled,Paid employment is most important activity,"£33,000 - £35,999",0,16,Leeds
53838,10007795.0,The University of Leeds,All,Full-time,Low skilled,Paid employment is most important activity,"£36,000 - £38,999",0,16,Leeds
53839,10007795.0,The University of Leeds,All,Full-time,Low skilled,Paid employment is most important activity,"£39,000+",0,16,Leeds
53840,10007795.0,The University of Leeds,All,Full-time,Medium skilled,Paid employment is an activity,"Less than £15,000",15,16,Leeds
53841,10007795.0,The University of Leeds,All,Full-time,Medium skilled,Paid employment is an activity,"£15,000 - £17,999",30,16,Leeds
53842,10007795.0,The University of Leeds,All,Full-time,Medium skilled,Paid employment is an activity,"£18,000 - £20,999",60,16,Leeds

In [62]:
all_institutions_out_n_ranks_2017 = pd.concat([minus_leeds, just_leeds_no_ranks])

In [65]:
all_institutions_out_n_ranks_2017.loc[all_institutions_out_n_ranks_2017["institution"] == "Leeds"].count()

ukprn                     440
provider_name             440
country_of_provider       440
mode_of_former_study      440
skill_group               440
work_population_marker    440
salary_band               440
number                    440
rank                      440
institution               440
dtype: int64

That should be the Leeds problems sorted.